@charset "UTF-8";

@font-face {
  font-family: "knowledge";
  src:url("fonts/knowledge.eot");
  src:url("fonts/knowledge.eot?#iefix") format("embedded-opentype"),
    url("fonts/knowledge.woff") format("woff"),
    url("fonts/knowledge.ttf") format("truetype"),
    url("fonts/knowledge.svg#knowledge") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "knowledge" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="knw-ico-"]:before,
[class*=" knw-ico-"]:before {
  font-family: "knowledge" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.knw-ico-assess:before {
  content: "\61";
}
.knw-ico-search:before {
  content: "\63";
}
.knw-ico-share:before {
  content: "\64";
}
.knw-ico-menu:before {
  content: "\62";
}
