@charset "UTF-8";
.knw-clear_after {
  content: ".";
  display: block;
  width: auto;
  clear: both;
  visibility: hidden;
}
.heading_type {
  font-family: 'Signika', sans-serif;
}
.body_type {
  font-family: 'PT Sans', sans-serif;
}
body {
  color: #4F4F4F;
  font-weight: 400;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}
h1,
.h1_font,
h2,
.h2_font,
h3,
.h3_font,
h4,
.h4_font,
h5,
.h5_font,
h6,
.h6_font {
  font-family: 'Signika', sans-serif;
  font-weight: 700;
}
h1,
.h1_font {
  font-size: 80px;
  line-height: 90px;
  color: #016f9a;
}
h2,
.h2_font {
  font-size: 50px;
  line-height: 55px;
  color: #016f9a;
}
h3,
.h3_font {
  font-size: 36px;
  line-height: 45px;
}
h4,
.h4_font {
  font-size: 30px;
  line-height: 45px;
}
h5,
.h5_font {
  font-size: 24px;
  line-height: 45px;
}
h6,
.h6_font {
  font-size: 16px;
  line-height: 45px;
}
p,
.p_font {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'PT Sans', sans-serif;
}
.subheadline,
.subheadline_font,
.subtitle-light,
.p-subtitle {
  font-family: 'PT Sans', sans-serif;
  font-size: 26px;
  line-height: 36px;
}
.p-small,
.p-small_font {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}
.p-large,
.p-large_font {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
.p-xsmall,
.p-xsmall_font {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
}
.mega-big,
.mega-big_font {
  font-family: 'Signika', sans-serif;
  font-size: 300px;
  font-weight: 700;
  line-height: 1 !important;
  color: #016f9a;
}
.p-mobile-nav {
  font-family: 'PT Sans', sans-serif;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 12px;
}
.knw-green_bg {
  background-color: #8DC73F;
}
.knw-dark_blue_bg {
  background-color: #f7f7f7;
}
.knw-orange_bg {
  background-color: #FAA61A;
}
.knw-light_blue_bg {
  background-color: #A1DEFC;
}
.knw-turquesa_bg {
  background-color: #3BAFC7;
}
.knw-purple_bg {
  background-color: #AF95C6;
}
.knw-color_white {
  color: #4F4F4F;
}
.knw-color_blue {
  color: #016f9a;
}
.knw-navigation {
  display: block;
  position: absolute;
  width: 100%;
  z-index: 1200;
  text-align: center;
  padding: 20px 0px 20px 0px;
  background-color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.knw-navigation .knw-nav_desk {
  float: right;
  flex: 75%;
  padding: 0 15px;
}
.knw-navigation .knw-nav_desk .nav {
  float: right;
}
.knw-navigation .knw-mob_nav {
  display: none;
}
.knw-navigation .menu_item {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
}
.knw-navigation .menu_item a {
  text-decoration: none;
  color: #4F4F4F;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.knw-navigation .menu_item a:hover {
  color: #bbb;
}
.knw-navigation .menu_item a .ion-ios-search-strong {
  font-size: 18px;
}
.knw-navigation .ion-navicon {
  display: none;
  cursor: pointer;
  font-size: 26px;
  line-height: 65px;
}
.knw-navigation .knw-close_nav {
  display: none;
  position: absolute;
  top: 30%;
  left: 60px;
  font-size: 50px;
  cursor: pointer;
}
.knw-navigation .menu_logo {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-weight: 700;
  font-size: 26px;
  float: left;
  color: #4F4F4F;
}
.knw-navigation.sticky {
  position: fixed;
  top: 0px;
  left: 0px;
  margin-top: 0px;
  background-color: #fff;
  line-height: 65px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.knw-navigation.sticky .menu_logo {
  color: #4F4F4F;
}
.knw-navigation.sticky .menu_item a {
  color: #4F4F4F;
  line-height: 65px;
}
.black_header .knw-navigation a {
  color: #4F4F4F;
}
.lib_padding {
  padding-top: 100px;
}
.knw-mobile_nav .nav {
  display: block;
  float: none;
  padding-top: 30%;
  transform: translate(0%, -30%);
}
.knw-mobile_nav .nav .knw-close_nav {
  display: block;
}
.knw-mobile_nav .nav .menu_item {
  display: block;
  width: 100%;
  text-align: center;
}
.knw-mobile_nav .nav .menu_item a {
  color: #4F4F4F;
  font-size: 24px;
}
.knw-pop_nav {
  opacity: 0;
  position: fixed;
  top: 0px;
  display: none;
  left: 0px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.92);
}
.knw-pop_nav.active_pop {
  display: block;
  opacity: 1;
}
.knw-pop_nav .menu_item.search_icon_hide {
  display: none;
}
.knw-pop_nav.serach_wrap {
  text-align: center;
  margin: 0 auto;
  padding: 50% 10%;
}
.knw-pop_nav.serach_wrap .search_nav_input {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: none;
  border-bottom: 3px solid #4F4F4F;
  background-color: transparent;
  padding: 5px 0px;
  width: 80%;
}
.knw-pop_nav.serach_wrap .search_nav_input:focus {
  box-shadow: none;
  outline: none;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */