/*
.about-hero{
    height: 100vh;
    width: 100%;

    &.about-hero-back{
        background: #006f9a; // Old browsers
        background: -moz-linear-gradient(-45deg, #006f9a 0%, #5582b0 50%, #af95c6 100%);
        background: -webkit-linear-gradient(-45deg, #006f9a 0%,#5582b0 50%,#af95c6 100%);
        background: linear-gradient(135deg, #006f9a 0%,#5582b0 50%,#af95c6 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006f9a', endColorstr='#af95c6',GradientType=1 );}

  

    .about-hero-container{
        width: 90%;
        position: absolute;
        margin-top: 140px;
        margin-left: 50%;
        transform: translatex(-50%);
        z-index: 1;
       color: @grey;

        .about-hero-title{
            text-align: center;
        }
        .about-hero-subtitle{

            text-align: center;
        }
    }

    .about-hero-image{
        width: 100%;
        height: 100%;
        position: absolute;
       &.about-home-image{
            background-image: url('images/about-us/about_us-1.png');
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: 60%;
        }

    }

}

.about{
    height: 100vh;
    width: 100%;
    &.about-1-back{
        background-color: @dark_blue;
    }
    &.about-2-back{
        background-color: @purple;
    }
    &.about-3-back{
        .about-3-img{
            top: 600px;
            width: 100%;
            height: 200px;
            background-image: url('images/about-us/partners.png');
            background-repeat: no-repeat;
            background-position: bottom center;
            background-size: 100%;
        }
    }
    .about-image{
        width: 90%;
        height: 100%;

        &.about-1-image{
            position: absolute;
            background-image: url('images/about-us/about_us-2.png') !important;
            background-repeat: no-repeat;
            background-position: bottom right;
            background-size: 50%;
        }
        &.about-2-image{
            background-image: url('images/about-us/about_us-3.png') !important;
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: 50%;
        }


    }
    .about-1-text-container{
        width: 600px;
        height: 300px;
        position: absolute;
        top: 55%;
        left: 23%;
       color: @grey;
    }
    .about-2-text-container{
        width: 58%;
        position: absolute;
        margin-top: 200px;
        margin-left: 50%;
        transform: translatex(-50%);
        z-index: 1;
       color: @grey;
        text-align: center;
    }
    .about-3-text-container{
        top: 150px;
        left:50%;
        position: absolute;
        transform: translatex(-50%);
        z-index: 1;
        text-align: center;

        p {
            margin-left: 50%;
            transform: translateX(-50%);
            width: 540px;
            color: #4F4F4F;
        }
    }

}

.about-sub-footer{
    width: 100%;
    max-height: 520px;

    .sub-footer-left{
        width: 50%;
        padding-bottom: 9.5%;
        float: left;
        background-color: @turquesa !important;

        .sub-footer-text{
            padding-top: 100px;
            float:right;
        }

        .sub-footer-text-left{
            width: 560px;
            height: 180px;
            padding-right: 30px;
            color: #fff;
            text-align: center;
        }
    }

    .sub-footer-right{
        width: 50%;
        padding-bottom: 9.5%;
        float: right;
        background-color: @dark_blue !important;

        .sub-footer-text{
           padding-top: 100px;
            float:left;
        }

        .sub-footer-text-right{
            width: 560px;
            height: 180px;
            padding-left: 30px;
            float: left;
            color: #fff;
            text-align: center;
        }
    }

    .sub-footer-btn-container{
        text-align: center;
    }

    .sub-footer-btn-container-right{
        text-align: center;
    }


}
*/
