.box-title {
	color: @white;
	.mega-big{
		color: @white;
	}
	.subhead {
		padding-top: 46px;
	}
}
.row-with-margin{
	margin-top: 5%;
}
.ass-padding-box{
	padding-top: 20px;
}
.row-ecam{
	margin-left: 120px;
}
.box-img {
	img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
	}
}
.item-asses h4{
	font-size: 24px;
}
.asses-decarbonize-box-container{
	background-color: @bg_grey !important;
}
.box-white {
	background-color: @white;
	color: @dark_purple;
	border-radius: 6px;
	padding: 30px 20px;
	-webkit-box-shadow: 0px 0px 43px -5px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 43px -5px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 43px -5px rgba(0,0,0,0.45);

}
.link-box {
	background-color: @white;
	-webkit-box-shadow: 0px 0px 43px -5px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 43px -5px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 43px -5px rgba(0,0,0,0.45);
	min-height: 250px;
	height: 250px;
	padding: 20px;
	cursor: pointer;
	position: relative;
	.btn {
		&.video {
			border-color: @turquesa;
			color: #4FC7FF;
		}
		&.guide {
			border-color: @green;
			color: @green;
		}
	}
	.content {
		// min-height: 280px;
		display: block;
		position: absolute;
		top: auto;
		bottom: 0px;
		left: 0;
		right: 0;
	    padding: 20px;
		p {
			display: table-cell;
			vertical-align: middle;
		}
	}
}
.center-text {
	display: table;
    height: 100%;
	p {
		display: table-cell;
		vertical-align: middle;
	}
	h6 {
		display: table-cell;
		vertical-align: middle;
	}
}
.box-container{
	width: 100%;
    min-height: 100vh;
	height: auto;
}
.assess-home {
	// background-color: #3BAFC7;
	background-color: @white;
	background-image: url('images/asses-your-system/1.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 55%;
	.box-title {
		margin-top: 154px;
		color: @dark_blue;
	}
	.box-image {


	}

    #arrow a {
        padding-top: 28px;
    }
	#arrow a span {
        position: absolute;
        top: 0;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        border-left: 2px solid @dark_blue;
        border-bottom: 2px solid @dark_blue;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: sdb07 2s infinite;
        animation: sdb07 2s infinite;
        opacity: 0;
        box-sizing: border-box;
    }
    #arrow a span:nth-of-type(1) {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }
    #arrow a span:nth-of-type(2) {
        top: 16px;
        -webkit-animation-delay: .15s;
        animation-delay: .15s;
    }
    // #arrow a span:nth-of-type(3) {
    //     top: 32px;
    //     -webkit-animation-delay: .3s;
    //     animation-delay: .3s;
    // }
    @-webkit-keyframes sdb07 {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes sdb07 {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    .scrArrow a {
        position: absolute;
        bottom: 20px;
        left: 50%;
        z-index: 2;
        display: inline-block;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        color: @dark_blue;
        font : normal 400 20px/1 'Josefin Sans', sans-serif;
        letter-spacing: .1em;
        text-decoration: none;
        transition: opacity .3s;
    }
    .scrArrow a:hover {
        opacity: .5;
    }
}
.assess-overview {
	// background-color: #AF95C6;
	.ass-padding-box{
		.col-lg-6{
			margin-top: 5%;
			padding-left: 5%;
		}
	}
	background-color: @white;
	.box-title {
		margin-top: 100px;
		color: @dark_blue;
	}
	.col-md-7 {
		.box-white {
			margin-top: 95px;
		}
	}
	.col-md-6 {
		margin-top: 128px;
		&.assess-img-1{
			margin-top: 5%;
		}
	}
	.left-sidebar-menu{
		top: -200px;
	//	left: 85px;
	}
	.menu{
		&.left-menu-moved{
			left: 40px !important;
		}
		&.menu-white{
			span{
				a{
					color: @white;
				}
				&:before{
					border: 1px solid @white;
				}
				&:after{
					border-left: 1px solid @white;
				}
				&.active_num:before{
					background-color: @green;
				}
			}
		}
	}
	.sticky{
		top: 25%;
	}
}
.assess-spec {
	// background-color: #3BAFC7;
	background-color: @white;
	.box-title {
		margin-top: 186px;
		color: @dark_blue;
		margin-bottom: 80px;
	}
	.my-container {
		&.my-container-1{
			margin-top: -5%;
		}
		.isotope-wrap {
			.item-wrap {
				margin-bottom: 20px;
				cursor: pointer;
				&:hover{
					background-color: rgba(173, 225, 250, 0.6);
				}
				h5 {
					color: @dark_blue;
					font-size: @icon-nav;
					line-height: 26px;
				}
				p {
					margin-top: 20px;
					color: @grey;
				}
				&.row-big{
					h5{
						position: unset;
					}
				}
				.item {
					padding: 20px;
					.knw-transition;
					background-color: transparent;
					&:hover{
						// background-color: rgba(173, 225, 250, 0.6);
					}
				}
				&:hover{
					box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
					h5{
						text-decoration: underline;
					}
				}
			}
		}
	}
}
.assess-learn {
	// background-color: #AF95C6;
	background-color: @white;
	.box-title {
		margin-top: 10%;
		color: @grey;
		h2{
			color: @dark_blue;
		}
		p {
			margin-top: 20px;
		}
	}
	.col-md-8 {
		img {
			margin-top: 120px;
			margin-bottom: 120px;
		}
	}
	.split {
		margin-top: 60px;
		padding-left: 5%;
	}
	.col-md-12 {
		img {
			margin-top: 120px;
		}
	}
}
.assess-training {
	background-color: @bg_grey;
	.box-title {
		padding-top: 10%;
	}
	.link-box {
		margin: 60px 0 120px 0;
	}
	.box-title{
		color: @dark_blue;
	}
}
.assess-data {
	background-color: @dark_blue;
	padding-top: 10%;
	.box-title {
		color: @dark_blue;
	}
	.ass-data-padding{
		margin-top: 50px;
	}
	h6 {
		color: @white;
		a {
			color: @white;
			text-decoration: underline;
		}
	}
	h3, h4 {
		color: @grey;
	}
	.cta {
		margin-top: 80px;
		h3 {
			text-align: center;
			color: @white;
		}
	}
	.row {
		&.data-padding{
			padding-top: 5%;
		}
	}
	.col-md-6 {
		margin-top: 60px;
	}
	.col-md-5{
		margin-top: 60px;
	}
	.hideme {
		display: none;
		padding-bottom: 100px;
		color: @grey;
		background-color: @dark_blue;
		.split {
			align-items: center;
		}
	}
}
#data.box-container{
	padding: 100px 0px;
}
.assess-system{
	background-color: #fff;
	margin-bottom: -2px;
	.box-title {
		margin-top: 10%;
	}
	p, h2 {
		color: @dark_blue;
	}
	.col-md-6 {
		margin-top: 60px;
	}
}
.assess-expect {
	background-color: @bg_grey;
	.box-title {
		color: @dark_blue;
		margin-top: 15%;
		margin-bottom: 70px;
		p {
			margin-top: 40px;
		}
	}
	.row-chart-3{
		margin-top: 50px;
		padding-bottom: 100px;
	}
	.chart{
		height: 435px;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		&.chart-1{
			background-image: url('images/asses-your-system/pie-chart-1.png');
		}
		&.chart-2{
			background-image: url('images/asses-your-system/pie-chart-2.png');
		}
		&.chart-3{
			background-image: url('images/asses-your-system/pie-chart-3.png');
		}
	}
	.col-md-5{
		.chart-title{
			color: @dark_blue;
			text-align: center;
		}
		.chart-text{
			color: @dark_blue;
		}
		.chart-main-text{
			color: @dark_blue;
		}
	}
	.col-md-12{
		&.chart-title-2{
			color: @dark_blue;
		}
	}
	.col-md-2{
		&.chart-3-text{
			color: @dark_blue;
		}
	}
	.chart-legend{
		ul{
			color: @grey;
			list-style: none;
			li{
				float: left;
				padding-right: 20px;
				&:before{
					content: "\25CF";
					padding-right: 5px;
				}
				&.dark_blue{
					&:before{
						color: @grey;
					}
				}
				&.dark_pink{
					&:before{
						color: #AF95C6;
					}
				}
				&.light_pink{
					&:before{
						color: #E2DAEC;
					}
				}
				&.light_blue{
					&:before{
						color: @grey;
					}
				}
				&.pink{
					&:before{
						color: #CABBDC;
					}
				}
				&.orange{
					&:before{
						color: #FAA61A;
					}
				}
				&.white{
					&:before{
						color: @grey;
					}
				}
				&.blue{
					&:before{
						color: #79B7D3;
					}
				}
				&.light_orange{
					&:before{
						color: #FFD8A1;
					}
				}
			}
		}
	}
}
