// FILE FOR FONTS, COLORS AND DEFAULT ELEMENTS
@charset "UTF-8";

// knowledge fotns icons
// @font-face {
//   font-family: "knowledge";
//   src:url("knw-fonts/knowledge.eot");
//   src:url("knw-fonts/knowledge.eot?#iefix") format("embedded-opentype"),
//     url("knw-fonts/knowledge.woff") format("woff"),
//     url("knw-fonts/knowledge.ttf") format("truetype"),
//     url("knw-fonts/knowledge.svg#knowledge") format("svg");
//   font-weight: normal;
//   font-style: normal;

// }

// [data-icon]:before {
//   font-family: "knowledge" !important;
//   content: attr(data-icon);
//   font-style: normal !important;
//   font-weight: normal !important;
//   font-variant: normal !important;
//   text-transform: none !important;
//   speak: none;
//   line-height: 1;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// [class^="knw-ico-"]:before,
// [class*=" knw-ico-"]:before {
//   font-family: "knowledge" !important;
//   font-style: normal !important;
//   font-weight: normal !important;
//   font-variant: normal !important;
//   text-transform: none !important;
//   speak: none;
//   line-height: 1;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// .knw-ico-assess:before {
//   content: "\61";
// }
// .knw-ico-search:before {
//   content: "\63";
// }
// .knw-ico-share:before {
//   content: "\64";
// }
// .knw-ico-menu:before {
//   content: "\62";
// }

// end of knowledge fotns icons
.heading_type{
	font-family: 'Signika', sans-serif;
}
.body_type{
	font-family: 'PT Sans', sans-serif;
}
body{
	color: @grey;
	font-weight: @regular;
	.body_type;
	-webkit-font-smoothing: subpixel-antialiased;
}

// FONTS
h1, .h1_font, h2, .h2_font, h3, .h3_font, h4, .h4_font, h5, .h5_font, h6, .h6_font{
	.heading_type;
	font-weight: @bold;
}
h1, .h1_font{
	font-size: @h1;
	line-height: 90px;
	color: @dark_blue;
}
h2, .h2_font{
	font-size: @h2;
	line-height: 55px;
	color: @dark_blue;
}
h3, .h3_font{
	font-size: @h3;
	line-height: 45px;
}
h4, .h4_font{
	font-size: @h4;
	line-height: 45px;
}
h5, .h5_font{
	font-size: @h5;
	line-height: 45px;
}
h6, .h6_font{
	font-size: @p;
	line-height: 45px;
}
p, .p_font{
	font-size: @p;
	font-weight: @regular;
	line-height: 24px;
	.body_type;
}
.subheadline, .subheadline_font, .subtitle-light, .p-subtitle{
	.body_type;
	font-size: @sub;
	// font-style: italic;
	line-height: 36px;
}
.p-small, .p-small_font{
	.body_type;
	font-size: @p-small;
	font-weight: @regular;
	line-height: 23px;
}
.p-large, .p-large_font{
	.body_type;
	font-size: @p-large;
	font-weight: @regular;
	line-height: 32px;
}
.p-xsmall, .p-xsmall_font{
	.body_type;
	font-weight: @regular;
	font-size: @xtra-small;
	line-height: 1;
}

.mega-big, .mega-big_font{
	.heading_type;
    font-size: @mega-big;
    font-weight: @bold;
    line-height: 1 !important;
    color: @dark_blue;
}
.p-mobile-nav{
	.body_type;
	font-size:@mobile-nav;
	letter-spacing: 1px;
	line-height: 12px;
}
// END OF FONTS

// COLORS
// background colors
.knw-green_bg{
	background-color: @green;
}
.knw-dark_blue_bg{
	background-color: @bg_grey;
}
.knw-orange_bg{
	background-color: @orange;
}
.knw-light_blue_bg{
	background-color: @light_blue;
}
.knw-turquesa_bg{
	background-color: @turquesa;
}
.knw-purple_bg{
	background-color: @purple;
}
// text colors
.knw-color_white{
	color: @grey;
}
.knw-color_blue{
	color: @dark_blue;
}
// END OF COLORS
