// BTNS
.knw-btn{
	font-size: 14px;
	.knw-round-corners;
	text-transform: uppercase;
	background-color: rgba(255, 255, 255, 0.15);
	border: 1px solid @white;
	border-radius: 30px;
	color: @white;
	line-height: 56px;
	display: inline-block;
	width: auto;
	padding: 0px 30px;
	cursor: pointer;
}
.home-button{
    border: 1px solid;
    border-radius: 40px;
    width: 100%;
    height: 60px;
    padding: 18px 15px;
    .knw-transition;
    text-align: center;
    p{
        display: inline;
        text-transform: uppercase;
        letter-spacing: 2.6px;
    }
    i{
        display: inline;
        opacity: 0;
    }
    &:hover{
        i{
            opacity: 1;
            margin-left: 10px;
        }
    }
    // a{
    //     text-decoration: none;
		// 		display: block;
		// 		width: 200px;
    // }
    &.home-dark-blue-button{
				background-color: @green;
       	border-color: @white;
        color: @white;
        &:hover{
        	background-color: @dark_blue;
          color: @white;
        }
    }
    &.home-white-button{
			background-color: @green;
			border-color: @white;
			color: @white;
			&:hover{
				background-color: @dark_blue;
				color: @white;
			}
    }
}

//Assess Your System BTNS - START
.link-box{
	.btn {
		position: absolute;
		left: 20px;
		top: 20px;
		border: 2px solid @white;
		font-size: 12px;
		font-weight: 600;
		padding: 6px 12px;
		border-radius: 12px;
	}
	&:hover {
		.btn {
			&.video {
				background-color: #4FC7FF;
				color: #FFF;
				transition: 300ms all;
			}
			&.guide {
				background-color: #8DC63F;
				color: #FFF;
				transition: 300ms all;
			}
		}
	}
}
.assess-data{
	.home-white-button {
		display: inline-block;
		margin-bottom: 130px;
		margin-top: 100px;
		width: auto;
		i {
			margin-left: 4px;
		}
		&:hover {
			background-color: @dark_blue;
			border: 1px solid @white;
			color: @white;
			transition: 300ms all;
		}
	}
}
//Assess Your System BTNS - END

// END OF BTNS

// popup
i.fa.fa-comment{
    color: @white;
}
i.ion-ios-close-empty{
    height: 20px;
    width: 20px;
}
#popUp{
	display: none;
    position: fixed;
    max-width: 300px;
    width: 300px;
    height: 215px;
    background: #fff;
    bottom: 1px;
    -webkit-box-shadow:  0 7px 22px 0 rgba(72,72,90,0.15);
    -moz-box-shadow:  0 7px 22px 0 rgba(72,72,90,0.15);
    -o-box-shadow:  0 7px 22px 0 rgba(72,72,90,0.15);
    box-shadow:  0 7px 22px 0 rgba(72,72,90,0.15);
		right: 1px;
		padding: 25px;
		z-index: 999;
		.popup-title{
			margin: 0px;
			.p-subtitle{
				font-size: @h4;
				font-weight: 400;
			}
			h5{
				line-height: unset !important;
				margin-bottom: 0;
				font-size: 18px;
				width: 200px;
			}
		}
	    &.fadeInUp{
	        margin-bottom: 0;
	    }
	    .popup-button{
				background-color: @green;
				//border: 1px solid @green;
				border-radius: 40px;
				width: 170px;
				height: 40px;
				text-align: center;
				color: @white;
				padding: 6px;
				transition: all 0.25s ease-in-out;
				margin-top: 10px;
				p{
					display: inline;
				}
				i{
					display: inline;
					opacity: 0;
					.fa{
						transform: scale(0.5,0.5);
					}
				}
				&:hover{
					background-color: @dark_blue;
					color: @white;
					i{
						opacity: 1;
						margin-left: 10px;
						.fa{
							transform: scale(0.5,0.5);
						}
					}
				}
    }
    #new{
    	margin-bottom: 15px;
			margin-top: 10px;
        p{
            margin: 0px;
            padding: 0px;
            font-weight: 400;
        }
    }
    h3{
        position: absolute;
        color: #000;
        padding-top: 30px;
        padding-left: 10px;
        font-size: 28px;
        font-weight: 400;
        letter-spacing: 1px;
        margin-top: -5px;
    }
    .close {
        color: #464646;
        right: 20px;
        top: 15px;
        position: absolute;
        font-size: 20px;
        cursor: pointer;
        width: 20px;
        img{
        	width: 65%;
        }
    }
}


#plus {
	display: none;
    position: fixed;
    color: #fff;
    background-color: @green;
    bottom: 1%;
    font-size: 15px;
    border-top: 12px solid @green;
    border-bottom: 12px solid @green;
    border-right: 15px solid @green;
    border-left: 15px solid @green;
    border-radius: 100%;
    /*-webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;*/
    cursor: pointer;
    text-align: left;
    letter-spacing: 1px;
    right: 1%;
    margin-left: 97%;
    &.fadeInUp{
        margin-bottom: 0;
    }

    span {
        position: absolute;
        margin-top: 18px;
        left: 15px;
    }
}
.one{
    height: 100vh;
    width: 100%;
    background-color: blue;
}
.two{
    height: 100vh;
    width: 100%;
    background-color: red;
}
.three{
    height: 100vh;
    width: 100%;
    background-color: green;
}

// end of popup

// social icons
.share-it{
	position: fixed;;
	min-height: 175px;
	width:40px;
	//background:#fff;
	right: 10px;
	z-index:9;
	top: 245px;
}
.share-it i{
	font-size:16px;
}


a.multipage{background:#fff; border:2px #fff solid; color: transparent;}
a.multipage:hover{background:#fff; border:2px #fff solid; color: transparent;}

.social-circle{
	margin: 0 auto;
	float: left;
	margin-right: 4px;
	padding-bottom: 10px;
	a{
		color: @dark_blue;
		background-color: @white;
		display:inline-block;
		transition: 0.5s ease;
		border-radius: 100%;
		border: 1px solid @dark_blue;
		&:hover{
			color: @white;
			background-color: @dark_blue;
			display:inline-block;
		}
	}
	&.share-it-blue{
		a{
			border-color: @dark_blue;
			color: @dark_blue;
			&:hover{
				background-color: @dark_blue;
				color: @white;
			}
		}
	}
	&.facebook{
		a{
			padding: 7px 15px;
		}
	}
	&.twitter{
		a{
			padding: 7px 12px;
		}
	}
	&.linkedin{
		a{
			padding: 7px 12px;
		}
	}
	&.e-mail{
		a{
			padding: 7px 12px;
		}
	}
}

// end of social icons

// accordion tables
.areas_table{
	width: 100%;
	border: 1px solid @light_grey;
	height: 870px;
	margin-bottom: 150px;
	overflow: hidden;
	.first_col{
		.knw-transition;
		width: 24%;
		height: 100%;
		float: left;
		position: relative;
		border-right: 1px solid @light_grey;
		ul{
			display: block;
			list-style:none;
			width: 100%;
			padding: 0px;
			li{
				.knw-transition;
				color: @grey;
				list-style: none;
				padding: 0px;
				display: block;
				margin: 0px 0px 0px 0px;
				padding: 35px 20px 35px 20px;
				cursor: pointer;
				line-height: 25px;
				position: relative;
				font-weight: 600;
				&:hover{
					text-decoration: underline;
				}
				&.active_li{
					background-color: @light_blue;
				}
				&:after{
					position: absolute;
					right: 10px;
					top: 50%;
					transform: translateY(-50%);
					font-family: "Ionicons";
					content: "\f363";
					font-size: 18px;
				    display: inline-block;
					speak: none;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					text-rendering: auto;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
				}
			}
		}
	}
	.second_col{
		.knw-transition;
		width: 0%;
		opacity: 0;
		height: 100%;
		overflow: auto;
		float: left;
		border-right: 1px solid @light_grey;
		.second_desc{
			padding: 50px 10px 0px 20px;
			font-weight: 400;
		}
		ul{
			list-style: none;
			margin: 0px;
			padding: 0px;
			li{
				list-style: none;
				display: block;
				margin: 0px 0px 0px 0px;
				padding: 35px 20px 35px 20px;
				cursor: pointer;
				line-height: 25px;
				font-weight: 600;
				position: relative;
				&:after{
					position: absolute;
					right: 10px;
					top: 50%;
					transform: translateY(-50%);
					font-family: "Ionicons";
					content: "\f363";
					font-size: 18px;
				    display: inline-block;
					speak: none;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					text-rendering: auto;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
				}
				&.active_li_sec{
					background-color: @light_blue_sec;
				}
				&:hover{
					text-decoration: underline;
				}
			}
		}
		&.active_tab{
			width: 25%;
			opacity: 1;
			height: 100%;
		}
	}
	.third_col{
		.knw-transition;
		width: 0%;
		opacity: 0;
		float: left;

		overflow: hidden;
		.third_desc_wrap{
			padding-top: 50px;
			.third_desc{
				width: 50%;
				float: left;
				&:nth-child(2){
					padding-left: 30px;
				}
			}
			&:after{
				.knw-clear_after;
			}
		}
		.third_desc{
			padding: 10px 10px 0px 20px;
		}
		.library_card{
			margin: 10px 20px;
			padding: 20px 20px 20px 120px;
			box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
			position: relative;
			cursor: pointer;
			.bedge_url{
			    background-color: @light_blue;
			    color: @dark_blue;
			    padding: 5px 2px;
			    text-align: center;
			    border-radius: 30px;
			    width: 50px;
			    font-size: 14px;
			    text-transform: uppercase;
			    position: absolute;
			    z-index: 80;
			    top: 20px;
			    left: 20px;
			    cursor: pointer;
			}
			span{
				position: absolute;
				z-index: 80;
				right: 20px;
				bottom: 20px;
			}
		}
		&.active_tab{
			width: 50%;
			opacity: 1;
			height: 100%;
		}
	}
	&:after{
		.knw-clear_after;
	}
}
// end accordion tables

// Side navigation
.wrapper{
	position: absolute;
	height: 100%;
	width: 100%;
	&.wd-wrapper{
		top: 30%;
	}
}
#primary-content-wrap{
	position: relative;
	height: auto;
}

.clerafix:after{
	content: "";
	display: block;
	clear: both;
}
.left-sidebar-menu-hidden{
	display: none;
}
.menu{
	top: 400px;
	&.wd-left-menu-sidebar{
		top: 200px;
		left: 45px;
	}
	&.menu-blue{
		span{
			color: @dark_blue;
			a{
				color: @dark_blue;
			}
			&:after {
				border-color: @dark_blue;
			}
			&:before{
				border: 1px solid @dark_blue;
			}
		}
		&.active_num{
			&:before{
				background-color: @dark_blue;
			}
		}
		&.active_white{
			&:before{
				background-color: @dark_blue;
			}
		}
	}
	text-align: left;
	position: absolute;
	left: 80px;
	z-index: 110;
	&.sticky{
		position: fixed;
		top: 45%;
	}
	&.abs{
		position: absolute;
	}
	span{
		cursor: pointer;
		color: #bbbbbb;
		position: relative;
		display: block;
		width: auto;
		margin-bottom: 15px;
		a{
			text-decoration: none;
			color: @dark_blue;
			&.left-anchors{
				margin-left: -10px;
			}
			&.underline {
  			display: inline;
  			position: relative;
  			overflow: hidden;
				&::after{
					content: "";
				  position: absolute;
				  z-index: -1;
				  left: 0;
				  right: 100%;
				  bottom: -5px;
				  background: @green;
				  height: 2px;
				  transition-property: left right;
				  transition-duration: 0.3s;
				  transition-timing-function: ease-out;
				}
				&:hover:after, &:focus:after, &:active:after{
					right: 0;
				}
			}
		}
		// &:hover{
		// 	text-decoration: underline;
		// }
		&:after {
		    content: '';
		    position: absolute;
				border-left: 1px solid @light_grey;
		    left: -31px;
		    top: -21px;
		    width: 20px;
		    height: 29px;
		}
		&:before{
			content: '';
			position: absolute;
			left: -36px;
			width: 10px;
			top: 8px;
			height: 10px;
			border-radius: 50%;
			border:1px solid @light_grey;
			background-color: transparent;
			z-index: 200;
		}
		&.active_num{
			&:before{
				background-color: @light_grey;
			}
		}
		&.active_white{
			&:before{
				background-color: @light_grey;
			}
		}
		&:first-child{
			&:after{
				display: none;
			}
		}
	}
	&.plan-menu-sidebar{
		margin-left: 0px;
		top: 30%;
		width: 100px;
		&.sticky{
			margin-left: 0px;
		}
	}
	&.left-menu-moved{
		left: 40px !important;
	}
}
// End of side navigation
// cards
.knw-card{
	background-color: @white;
	box-shadow: 0 0 32px rgba(0, 0, 0, 0.18);
	min-height: 265px;
	color: @dark_blue;
	margin-bottom: 30px;
	padding: 20px;
	.knw-transition;
	cursor: pointer;
	h5{
		color: @turquesa;
		text-align: left;
	}
	p{
		color: @turquesa;
		text-align: left;
	}
	&.knw-card_library{
		&:hover{
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
			p{
				text-decoration: underline;
			}
		}
	}
}
// end of cards
// accordion
.knw-accordion{
	.knw-transition;
    border: 1px solid @light_grey;
    border-bottom: none;
    color: @grey;
    cursor: pointer;
    padding: 15px 25px 15px 15px;
    width: 100%;
    text-align: left;
    outline: none;
    position: relative;

   	&:hover{
		background-color: @light_blue_sec;
   	}
   	p{
   		padding: 0px;
   		margin-bottom: 0rem;
   	}
   	&:after{
   		.knw-ionicons("\f489");
   		position: absolute;
   		right: 15px;
   		top: 50%;
   		transform: translate(0%, -50%);
   	}
   	&:first-child{
   		&:after{
	   		display: none;
	   	}
   	}
	.panel{
		.knw-transition;
		height: 0;
    	overflow: hidden;
    	ul{
    		padding-left: 0px;
    		font-size: @xtra-small;
    		list-style: none;
    		margin: 20px 0px 5px 0px;
    		line-height: 18px;
    		li{
    			font-weight: 600;
    			line-height: 20px;
    			ul{
    				margin: 5px 0px 20px 0px;
    				li{
    					margin-bottom: 5px;
    				}
    			}
    		}
    		.lib_link{
    			font-weight: 400;
    			&:hover{
    				text-decoration: underline;
    			}
    		}
    	}
	}
	&.active_ac{
		background-color: @light_blue_sec;
		.panel{
			max-height: 100%;
			height: auto;
		}
	}
	&:last-child{
		border-bottom: 1px solid @light_grey;
	}
}
// end of accordion
// search_input
.search_wrap{
	margin: 60px auto 100px auto;
	text-align: center;
	position: relative;
	width: 600px;
	max-width: 100%;
	.search_input{
		width: 600px;
		height: 56px;
		max-width: 600px;
		min-width: 120px;
		border: 1px solid #D8D8D8;
		position: relative;
		padding-left: 25px;
		&:focus{
			box-shadow: none;
			outline: none;
		}
	}
	input[type=submit].search_submite{
		width: 56px;
		height: 56px;
		background-color: @dark_blue;
		box-shadow: none;
		border: none;
		background-image: url(../images/search_ico.png);
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		right: 0px;
		top: 0px;
		cursor: pointer;
		text-indent:9999px;
		&:focus{
			box-shadow: none;
			outline: none;
		}
	}
}
// end of search
// section full page
.knw-fullpage{
	width: 100%;
	height: 100vh;
	padding-top: 70px;
	.knw-vertical_alig{
		// position: absolute;
		// margin:  0 auto 0 16.666667%;
		// height: auto;
		// top: 50%;
  //   	transform: translateY(-50%);
		// background-color: red;
		height: 100vh;
		.knw-img_sec{
			float: left;
			max-width: 40%;
		}
		.knw-fullpage_text{
			float: left;
			max-width: 50%;
			h2{
				margin-bottom: 40px;
			}
			&:after{
				content: '';
				visibility: hidden;
				display: block;
				clear: both;
			}
		}
	}
}
// end of full page
