.footer{
    width: 100%;
    height: 600px;
    background-color: @dark_blue;
    .footer-text{
        padding-top: 13%;
        padding-bottom: 5%;
        padding-top: 10%;
        h2{
           color: @white;
            text-align: center;
            //line-height: 72px;
        }
        a{
            text-decoration: none;
            display: block;
            width: 266px;
            margin: 0 auto;
            .home-button{
              border-color: @green;
              &:hover{
                border-color: @white;
              }
              p{
                padding-left: 14px;
              }
            }
        }
        .footer-subtitle{
            padding-top: 20px;
            text-align: center;
            p{
               color: @white;
            }
        }
        .footer-button{
            margin: 40px auto;
            border: 1px solid @green;
            border-radius: 40px;
            background-color: @green;
            width: 220px;
            height: 60px;
            text-align: center;
            color: @white;
            padding: 15px;
            letter-spacing: 2.6px;
            transition: all 0.25s ease-in-out;
            p{
                display: inline;
            }
            i{
                display: inline;
                opacity: 0;
            }
            &:hover{
                background-color: @white;
                border: 1px solid @white;
                color: @dark_blue;
                i{
                    opacity: 1;
                    margin-left: 10px;
                }
            }
        }
    }
}
