// FILE FOR NAVIGATION AND MENU

// navigation
.knw-navigation{
 	display: block;
 	position: absolute;
 	width: 100%;
 	z-index: 1200;
 	text-align: center;
 	padding: 20px 0px 20px 0px;
 	background-color: @white;
 	.knw-transition;
 	.knw-nav_desk{
		float: right;
		flex: 75%;
		padding: 0 15px;
		.nav{
			float: right;
		}
 	}
 	.knw-mob_nav{
 		display: none;
 	}
	.menu_item{
		margin-right: 10px;
		font-size: 16px;
		font-weight: 300;
		line-height: 40px;
		a{
			text-decoration: none;
			color: @grey;
			.knw-transition;
			&:hover{
				color: @light_grey;
			}
			.ion-ios-search-strong{
				font-size: @p-large;
			}
		}
	}
	.ion-navicon{
		display: none;
		cursor: pointer;
		font-size: @sub;
		line-height: 65px;
	}
	.knw-close_nav{
		display: none;
		position: absolute;
		top: 30%;
		left: 60px;
		font-size: @h2;
		cursor: pointer;
	}
	.menu_logo{
		.knw-transition;
		font-weight: 700;
		font-size: @sub;
		float: left;
		color:@grey;
	}
	&.sticky{
		position: fixed;
		top: 0px;
		left: 0px;
		margin-top: 0px;
		background-color: @white;
		
		line-height: 65px;
		
		box-shadow: 0 0 20px rgba(0,0,0,0.15);
		.menu_logo{
			color: @grey;
		}
		.menu_item{
			a{
				color: @grey;
				line-height: 65px;
			}
		}
	}
}
.black_header{
	.knw-navigation a{
		color: @grey;
	}
}
.lib_padding{
	padding-top: 100px;
}
// end of navigation

// popUp nav mobile
.knw-mobile_nav{
	.nav{
		display: block;
		float: none;
		padding-top: 30%;
			transform: translate(0%,-30%);
			.knw-close_nav{
				display: block;
			}
		.menu_item{
			display: block;
			width: 100%;
			text-align: center;
			a{
				color: @grey;
				font-size: @h5;
			}
		}
	}
}
.knw-pop_nav{
	
	display: none;
	opacity: 0;
	position: fixed;
	top: 0px;
	display: none;
	left: 0px;
	width: 100%;
	max-width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba(255, 255, 255, 0.92);
	&.active_pop{
		display: block;
		opacity: 1;
	}
	.menu_item.search_icon_hide{
		display: none;
	}
	&.serach_wrap{
		text-align: center;
		margin:0 auto;
		padding: 50% 10%;
		.search_nav_input{
			.knw-transition;
			border: none;
			border-bottom: 3px solid @grey;
			background-color: transparent;
			padding: 5px 0px;
			width: 80%;
			&:focus{
				box-shadow: none;
				outline: none;
				width: 100%;
			}
		}
	}
}
// end of popUp nav