a{
    text-decoration: none !important;
}
a:hover{
    color: none;
}
body{
    overflow-x: hidden;
}
.main-title h2{
    margin: 0 auto;
}
.home-1 .home-container .home-main-container .main-container{
    width: 100%;
    height: 1080px;
    background-color: #006F9A !important;
    overflow-x: hidden;
}
.home-text.main-container .home-main-container {
    overflow-y: hidden;
}
.home-container h2{
    color: #fff;
    font-weight: 700;
    width: 900px;
    //margin: 0 auto;
}
.home-main-container{
    background-image: url('images/home/home-background-img.png') !important;
    background-repeat: no-repeat;
    background-position: center bottom;
}
.main-container{
   // background-image: url('images/home/background.png');
    background-repeat: no-repeat;
    background-position: center bottom;
}


.home-content{
	width: 570px;
	height: 108px;
	margin: 0 auto;
    text-align: center;
}
.home-content h4{
   color: @grey;
    font-weight: 300;
}/*
.home-text{
	padding-top: 100px;
}*/
/*.home-title{
    text-align: center;
    padding-bottom: 40px;
    margin-top: 180px;
} */
.one{
    margin-top: 60px;
}
.two{
    margin-top: 30px;
}
.home-row{
    margin-top: 600px;
}
.scroll-arrows{
    margin: 0 auto;
    text-align: center;
}
.scroll-arrows p{
    margin-top: 350px;
    font-size: 14px;
}
.col-md-4.scroll-arrows p{
    font-size: 14px;
}
.scroll-arrows-container{
    background-color: red;
    height: auto;
    width: 100px;
    margin: 0 auto;
}
.arrow {
    z-index: 100;
    margin-top: 600px;
    opacity: 0;
    position: absolute;
      left: 49%;
      top: 50%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  .arrow-1 {
      animation: arrow-movement 2s ease-in-out infinite;
  }
  .arrow-2 {
      animation: arrow-movement 2s 1s  ease-in-out infinite;
  }

  .arrow:before,
  .arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
      top: 0;
      left: 0;
    width: 30px;
  }

  .arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
  }

  .arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
  }
img.wacclim-img {
    margin-top: 180px;
    height: 500px;
}
  /* SECOND DIV */
.home-isotope-wrap{
    height: auto !important;
}
.home-my-container{
    width: 1500px !important;
    height: auto!;
}
.home-1{
    background-color: #006F9A;
}
.home-box-container{
    background-color: @turquesa;
}
.home-my-container{
    background-color: #3BAFC7 !important;
}

.home-box-item-2 h4{
    color: #3BAFC7 !important;
}

.home-box-title-1{
    width: 555px;
    margin: 0 auto;
    padding-top: 90px;
}

.home-box-title-1 h3{
   color: @grey;
    font-weight: 700;
    padding-bottom: 35px;
}
.home-box-title-1 h4{
   color: @grey;
    font-weight: 200;
    padding-bottom: 35px;
    line-height: 36px;
}
.home-box-title h4{
   color: @grey;
    font-size: 36px;
}
.home-box-title .home-box-subbtitle{
    padding-top: 10px;
    font-size: 26px;
    color: #fff;
}
.home-box-subbtitle{
    width: 600px;
}
.home-box-paragraph{
    color: #fff;
}
.home-box-title p{
    color: #fff;
    font-size: 18px;
}
.home-box-img .wacclim-img{
    margin-right: auto !important;
}
.home-circles{
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    position: relative;
    height: 450px;
    margin-left: -80px;
    /* padding-left: 100px; */
}
.home-circle-button{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: inline-block;
    float: left;
    margin-right: 15px;
    background-color: #fff;
}
.cn-1{
    color: @dark_blue;
}
.cn-2{
    color: @light_blue;
}
.cn-3{
    color: @green;
}
.cn-4{
    color: @orange;
}
.cn-5{
    color: @purple;
}
.home-circle-container{
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
}
.circle-title-number{
    padding-top: 20px;
    color: @turquesa;
    font-weight: 600;
}
.circle-title-under{
    font-size: 25px;
    font-weight: 600;
}
.circle-home-subtitle{
    font-size: 14px;
    font-weight: 300;
}
.home-circle-button-1{

}
.home-circle-button-2{
    margin-top: -50px;
}
.home-circle-button-3{

}
.home-circle-button-4{
    margin-top: -50px;
}
.home-circle-button-5{
}
/* THIRD DIV */

.home-3{
    background-color: @light_blue !important;
}
//.home-3-img{
  //  width: 362px;
    //height: 787px;
  //  margin: 0 auto;
   // padding-top: 50px;
  // margin-left: 15%;
//}
.home-3-image img{
    margin-top: 40px;
}
.home-3-container{
    width: auto;
    height: auto;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.col-md-6.home-3-text-container{
    padding-top: 100px;
}
.col-md-6.home-3-image {
    text-align: center !important;
   // margin-left: -50px;
}
/*
.home-3-title{
   // margin: 50px;
}
.home-3-title h2{
    color: @dark_blue;
    font-weight: 700;
    padding-bottom: 20px;
}
.home-3-subbtitle{
    width: 610px;
}
.home-3-subbtitle p{
    color: @dark_blue;
    font-weight: 300;
    line-height: 32px;
}
.home-4-title{
   color: @grey;
    font-weight: 700;
    padding-bottom: 20px;
}
.home-4-subbtitle h4{
    line-height: 36px;
   color: @grey;
    font-weight: 300;
}
.home-4-subbtitle p{
    font-size: 18px;
    line-height: 32px;
   color: @grey;
    font-weight: 300;
}
.home-5-title{
   color: @grey;
    font-weight: 700;
    padding-bottom: 20px;
    width: 0px;
}
.home-5-title h2{
    width: 600px;
}
.home-5-subbtitle h4{
    line-height: 36px;
   color: @grey;
    font-weight: 300;
    padding-bottom: 20px;
}
.home-5-subbtitle p{
    font-size: 18px;
    line-height: 32px;
   color: @grey;
    font-weight: 300;
}*/
/*
.home-button{
    width: 160px;
    border-radius: 40px;
    text-align: center;
    padding: 15px;
    transition: all 0.25s ease-in-out;
} */
/*.home-button i{
    opacity: 0;
}
.home-button:hover i{
    opacity: 1;
}*/

.home-button a{
    text-decoration: none;
    color: inherit !important;
}
.button-white-dark:hover{
    background-color: white;
    color: @dark_blue !important;
}
.button-white-dark:hover i{
    margin-left: 8px;
}
.button-white-green:hover{
    background-color: white;
    color: @green !important;
}
.button-white-green:hover i{
    margin-left: 8px;
}
.button-white-purple:hover{
    background-color: white;
    color: @purple !important;
}
.button-white-purple:hover i{
    margin-left: 8px;
}
.button-white-turquesa:hover{
    background-color: white;
    color: @turquesa !important;
}
.button-white-turquesa:hover i{
    margin-left: 8px;
}
/*
.home-3-button{
    border: 1px solid @dark_blue;
    color: @dark_blue !important;
    margin-top: 50px;
}
.home-3-button a{
    text-decoration: none;
} */
.home-button.button-white-dark.button-5 {
    font-size: 16px;
}
.home-3-arrow{
    margin-top: 145%;
}
.home-4{
    background-color: @dark_blue !important;
}
.home-5-image img{
    margin-top: 140px;
}
.home-5{
    background-color: @green !important;
}
.button-5{
    font-size: 17px;
    border: 1px solid #fff;
    color: #fff;
}
.home-6{
    background-color: @purple !important;
}
.home-7{
    background-color: @turquesa !important;
    padding-top: 50px;
}
.home-7-title{
    width: auto !important;
}
.button-6{
    border: 1px solid #fff;
    width: 358px;
    color: white;
}

.home-circle-button-container{
    position: relative;
    width: 100%;
    height: inherit;
}
.home-button-circle{
    float: left;
    position: absolute;
    height: 225px;
    width: 225px;
    border-radius: 100%;
}
.home-circle-button-inner{
  //  position: absolute;
 /*   background-image: url('images/home/circle.png');
    background-repeat: no-repeat;
    background-position: bottom center;*/
}
.circle-home-1{
    background-color: red;
    margin-left: 360px;
    margin-top: 182px;
}
.circle-home-2{
    background-color: blue;
    margin-left: 600px;
    margin-top: 100px;
}
.circle-home-3{
    background-color: green;
    margin-left: 835px;
    margin-top: 180px;
}
.circle-home-4{
    background-color: yellow;
    margin-left: 1075px;
    margin-top: 100px;
}
.circle-home-5{
    background-color: orange;
    margin-left: 1310px;
    margin-top: 175px;
}
  @keyframes arrow-movement {
    0%   {
      opacity: 0;
      top: 45%;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
