// section{
//   background-color: @white !important;
// }
.p-small{
    font-size: @p-small;
}
.p-large{
    font-size: 18px;
}
.p-subtitle{
    font-size: 26px;
    font-weight: 300;
    line-height: 36px;
}
.knw-section{
  width: 100%;
  min-height: 100vh;
  height: auto;
}
.hero{
    position: relative;
    &.hero-dark_blue{
        background-color: @bg_grey;
    }
    &.hero-dark_blue-1{
        background-image: url('images/home/hero-image.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom center;
        height: 100vh;
        background-color: @white !important;
    }
    &.hero-turquesa{
        background-color: @bg_grey;
        .home-circle-arrow-container{
          height: 500px;
          padding-top: 10%;
        }
        .turquesa-img{
          background-image: url('images/home/wacclim.png');
          background-position: bottom;
          background-repeat: no-repeat;
          background-size: contain;
        }
        .container-no-padding{
          padding-left: 0;
        }
        .container-hidden{
          display: none;
        }
        .container-mobile-hidden{
          display: none;
        }
    }
    &#hero-index{
        #arrow {
          position: absolute;
          bottom: 30px;
          left: 50%;
          margin-left: -20px;
          text-align: center;
        }
        .scrArrow  {
          p{
            position: absolute;
            top: -100px;
            left: -100px;
            width: 200px;
          }
        }

    }
    &.hero-dark_blue-1{
    }
    &.hero-dark_blue{
      .row{
        margin-top: 15%;
        margin-bottom: 19%;

      }
        #arrow {
          position: absolute;
          bottom: 30px;
          left: 50%;
          margin-left: -20px;
        }
        .scrArrow{
          a{
            bottom: unset;
          }
        }
    }
    &.hero-turquesa-1{
      background-color: @white;
      .row{
        margin-top: 15%;
        margin-bottom: 16%;
      }
    }
    &.hero-light_blue{
        background-color: @white;
        .container{
          .row{
            margin-top: 15%;
            margin-bottom: 19%;
          }
        }
        #arrow{
          position: absolute;
          bottom: 30px;
          left: 50%;
          margin-left: -20px;
        }
        .scrArrow {
          a{
            bottom: unset;
          }
        }
    }
    &.hero-green{
        background-color: @white;
        .row{
          margin-top: 15%;
          margin-bottom: 19%;
        }
        #arrow{
          position: absolute;
          bottom: 30px;
          left: 50%;
          margin-left: -20px;
        }
        .scrArrow{
          a{
            bottom: unset;
          }
        }
    }
    &.hero-purple{
        background-color: @bg_grey;
        .row{
          margin-top: 5%;
          margin-bottom: 14%;
        }
        #arrow{
          position: absolute;
          bottom: 30px;
          left: 50%;
          margin-left: -20px;
        }
        .scrArrow{
          a{
            bottom: unset;
          }
        }
    }
    .hero-container{
        position: absolute;
        width: 100%;
        height: auto;
        text-align: center;
        margin-top: 10%;
        z-index: 1;
        .arrow {
            z-index: 100;
            opacity: 0;
            position: absolute;
            left: 50%;
            top: 65%;
            transform-origin: 65% 50%;
            transform: translate3d(-50%, -50%, 0);
            &.arrow-1 {
                animation: arrow-movement 2s ease-in-out infinite;
            }
            &.arrow-2 {
                animation: arrow-movement 2s 1s  ease-in-out infinite;
            }
            & .arrow:before,
            &.arrow:after {
                background: #fff;
                content: '';
                display: block;
                height: 3px;
                position: absolute;
                    top: 0;
                    left: 0;
                width: 30px;
            }
            &.arrow:before {
                transform: rotate(45deg) translateX(-23%);
                transform-origin: top left;
            }
            &.arrow:after {
                transform: rotate(-45deg) translateX(23%);
                transform-origin: top right;
            }
        }
    }

    #arrow{
      position: absolute;
      bottom: 30px;
      left: 50%;
      margin-left: -20px;
      a{
         padding-top: 30px;
       }
    }
    #arrow{
      position: absolute;
      bottom: 30px;
      left: 50%;
      margin-left: -20px;
      a{
        span{
        position: absolute;
        top: 0;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        // border-left: 1px solid #fff;
        // border-bottom: 1px solid #fff;
        border-left: 2px solid @dark_blue;
        border-bottom: 2px solid @dark_blue;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: sdb07 2s infinite;
        animation: sdb07 2s infinite;
        opacity: 0;
        box-sizing: border-box;
        }
      }
    }
    #arrow{
      position: absolute;
      bottom: 30px;
      left: 50%;
      margin-left: -20px;
      a{
        span{
          &:nth-of-type(1){
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
          }
        }
      }
    }
    #arrow {
      position: absolute;
      bottom: 30px;
      left: 50%;
      margin-left: -20px;
      a{
        span{
          &:nth-of-type(2){
            top: 16px;
            -webkit-animation-delay: .15s;
            animation-delay: .15s;
          }
        }
      }
    }
    // #arrow a span:nth-of-type(3) {
    //     top: 32px;
    //     -webkit-animation-delay: .3s;
    //     animation-delay: .3s;
    // }
    @-webkit-keyframes sdb07 {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes sdb07 {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    .scrArrow a {
        position: absolute;
        bottom: 20px;
        left: 50%;
        z-index: 2;
        display: inline-block;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        color: @dark_blue;
        font : normal 400 20px/1 'Josefin Sans', sans-serif;
        letter-spacing: .1em;
        text-decoration: none;
        transition: opacity .3s;
    }
    .scrArrow a:hover {
        opacity: .5;
    }

    .hero-title{
        width: 65%;
        height: auto;
        margin: 0 auto;
        padding-bottom: 2%;
        color: @grey;
    }
    .hero-subtitle{
        width: 45%;
        height: 70px;
        margin: 0 auto;
        color: @grey;
    }
    // .container-with-padding{
    //     padding-top: 6%;
    //     &.container-with-smaller-padding{
    //       padding-top: 5%;
    //     }
    // }
    .home-circle{
        width: 185px;
        height: 185px;
        border-radius: 100%;
        position: relative;
        float: left;
        margin: 0 auto;
        margin-left: 3%;
        text-align: center;
        background-color: @white;
        color: @turquesa;
        box-shadow: 0 7px 22px 0 rgba(72,72,90,0.15);
        h1{
            line-height: 80px !important;
            font-size: 65px;
            padding-top: 10px;
        }
        h5{
            line-height: 20px !important;
        }
        p{
          font-size: 14px !important;
          line-height: 14px !important;
        }
        &.circle-1{
            margin-top: 5%;
            text-align: center;
            &:after{
                pointer-events: none;
                content: "";
                display: block;
                background-image: url('images/home/arrow1.png');
                background-repeat: no-repeat;
                height: 120px;
                width: 130px;
                position: relative;
                bottom: 20px;
                left: 75%;
            }
        }
        &.circle-2{
            text-align: center;
            &:after{
                pointer-events: none;
                content: "";
                display: block;
                background-image: url('images/home/arrow2.png');
                background-repeat: no-repeat;
                height: 60px;
                width: 120px;
                position: relative;
                bottom: 140px;
                left: 80%;
            }
        }
        &.circle-3{
            margin-top: 5%;
            text-align: center;
            &:after{
                pointer-events: none;
                content: "";
                display: block;
                background-image: url('images/home/arrow3.png');
                background-repeat: no-repeat;
                height: 80px;
                width: 150px;
                position: relative;
                bottom: 30px;
                left: 75%;
            }
        }
        &.circle-4{
            text-align: center;
            &:after{
                pointer-events: none;
                content: "";
                display: block;
                background-image: url('images/home/arrow4.png');
                background-repeat: no-repeat;
                height: 60px;
                width: 90px;
                position: relative;
                bottom: 130px;
                left: 90%;
            }
        }
        &.circle-5{
            margin-top: 5%;
            text-align: center;
            &:after{
                pointer-events: none;
                content: "";
                display: block;
                background-image: url('images/home/arrow5.png');
                background-repeat: no-repeat;
                height: 200px;
                width: 510px;
                position: relative;
                right: 210%;
                bottom: 360px;
            }
        }
    }
    .home-container-2{
    padding-bottom: 10%;
        .home-2-text-container{
            padding-top: 5%;
        }
        .home-2-subtitle{
            h5{
                color: @grey;
                font-weight: 300;
            }
        }
        .home-2-text{
            p{
                color: @grey;
            }
        }
    }
    .home-img{
        float: left;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom center;
        &.home-3-img{
            background-image: url('images/home/man-1.png');
            margin-top: 10%;
        }
        &.home-4-img{
            background-image: url('images/home/number2.png');
            margin-top: 10%;
        }
        &.home-5-img{
            background-image: url('images/home/home-5.png');
            background-position: top center !important;
            height: auto;
        }
        &.home-6-img{
            background-image: url('images/home/home-6.png');
            background-position: center !important;
            height: 700px;
        }
        &.home-7-img{
            background-image: url('images/home/group-3.png');
        }
    }
    .home-text{
        float: left;
        margin-top: 20%;
        a{
            text-decoration: none;
            display: block;
            width: 200px;
        }
        &.home-1-text{
          margin-top: 10%;
        }
        &.home-3-text{
            padding-right: 40px;
        }
        &.home-4-text{
            padding-left: 15px;
            margin-top: 10%;
        }
        &.home-5-text{
            padding-left: 15px;
            margin-top: 0;
        }
        &.home-6-text{
           margin-top: unset !important;
        }
        &.home-7-text{
          margin-top: 10%;
        }
    }
    .home-title{
      padding-bottom: 30px;
        &.home-dark-blue-title{
            color: @grey;
        }
        &.home-white-title{
            color: @grey;
        }
    }
    .home-subtitle{
        max-width: 550px;
        &.home-dark-blue-subtitle{
            color: @grey;
        }
        &.home-white-subtitle{
            color: @grey;
        }
    }
}

@keyframes arrow-movement {
    0%   {
      opacity: 0;
      top: 45%;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
