// FILE FOR RESPONSIVE DESIGN

// Large screens
@media only screen
and (min-width : 1824px) {
	.knw-navigation{
		&.sticky{
			line-height: 65px;
			.menu_item{
				a{
					color: @grey;
					line-height: 65px;
				}
			}

		}
	}
}
@media only screen and (max-width: 1765px){
	.about-sub-footer{
		.sub-footer-left{
			.sub-footer-text-left{
				padding-bottom: 7%;
			}
		}
	}
}
//text about 1 text container/
@media only screen and (max-width: 1560px){
	.about {
		.about-1-text-container {
			//top: 5%;
		}
	}
}
// Desktops and laptops
@media only screen and (max-width : 1400px){
	.opp_center_text{
		max-width: 700px;
		h2{
			font-size: 32px;
		}
		h4{
			font-size: 18px;
		}
	}
	.circle-container > .active_num{
		width: 430px;
	}

	.about {
		.about-1-text-container {
			top: 60px;
		}
	}
}
@media only screen and (max-width: 1290px){

	.plan-1 {
		.plan-1-title{
			padding-top: 10%;
		}
		.plan-1-subtitle{
			padding-top: 4%;
    		padding-bottom: 5%;
		}
	}

	.hero {
		&.hero-light_blue {
			.container {
				.row{
				    margin-top: 5%;
    				margin-bottom: 10%;
    			}
			}
			#arrow a {
				padding-top: 0;
				margin-top: 5%;
			}

		}
		&.hero-dark_blue {
			.row{
					margin-top: 5%;
    				margin-bottom: 10%;
				}
			#arrow a {
				padding-top: 0;
				margin-top: 5%;
			}
		}
		&.hero-green {
			.row {
				margin-top: 9%;
    		margin-bottom: 4%;
			}
		}
		&.hero-purple {
			.row {
				margin-top: unset;
				margin-bottom: unset;
			}
			#arrow a{
				padding-top: 0;
				margin-top: 2%;
			}
		}
		&.hero-turquesa {
			.row {
				margin-top: 5%;
    			margin-bottom: 5%;
			}
		}


	}
}
@media only screen and (max-width : 1285px){

    .about-hero {
        .about-hero-container{
        padding-top: 100px;
        }
    }
	.about {

		&.about-3-back{
			.about-3-img{

			    margin-top: 5%;

			}
		}
	}
	// .hero{
	// 	&.hero-green{
	// 		.row{
	// 			margin-top: 10%;
	// 			padding-bottom: 10%;
	// 		}
	// 	}
	// }

	.plan-1 {
		.plan-1-title{
			padding-top: 10%;
		}
		.plan-1-subtitle{
			padding-top: 0%;
    		padding-bottom: 0%;
		}
	}

	.assess-home{
		.box-title{
			margin-top: 10%;
		}
	}
}

@media only screen and (max-width : 1200px) {
	.knw-navigation{
		.menu_item{
			line-height: 40px;
			a{
				font-size: 13px;
			}
		}
	}
	.about {
		.about-1-text-container{
			top: 65%;
		}
		.about-3-text-container{
			max-width: 80%;
			padding-top: 15%;
		}
	}
	.about-sub-footer{
		.sub-footer-text{
        	padding-top: 100px;
    	}
		.sub-footer-left{
			.sub-footer-text-left{
	            padding-left: 5%;
	            padding-right: 0px;
	            text-align: center;
	        }
        }
		.sub-footer-right{
	        .sub-footer-text-right{

				text-align: center;

			}
		}
	}
	.isotope-wrap{
		.item-wrap{
			&.row-small{
				height: 210px;
				width: 210px;
			}
		   .item{
			   height: auto;
			   padding-bottom: 0px;
			   h4{
					 .h5_font;
				   bottom: unset;
				   top: 160px;
					 &.envi-stew{
						 top: 130px;
						 line-height: 30px;
					 }
					 &.stake-engage{
						 top: 140px;
						 line-height: 30px;
					 }
			   }
		   }
		   &.row-big{
			   height: auto;
		   }
	   }
   }
	 // INDEX - START
	 .hero{
		 .home-circle {
			 margin-left: unset;
			 &.circle-1{
				 &::after{
					 bottom: 50px;
					 left: 85%;
					 background-size: 80px;
					 background-position: left;
				 }
			 }
			 &.circle-2{
				 &::after{
					 background-size: 80px;
				 }
			 }
			 &.circle-3{
				 &::after{
					 background-size: 90px;
					 left: 80%;
					 bottom: 25px;
				 }
			 }
			 &.circle-4{
				 &::after{
					 bottom: 145px;
					 left: 85%;
				 }
			 }
			 &.circle-5{
				 &::after{
					 background-size: 80%;
					 right: 165%;
    	 		 bottom: 330px;

				 }
			 }
		}
		&.hero-light_blue, &.hero-dark_blue, &.hero-green, &.hero-turquesa-1{
			.row{
				margin-left: -15%;
			}
		}
		&.hero-purple{
			.row{
				margin-left: -9%;
			}
		}
		.home-text{
			.home-title{
				width: 575px;
			}
			.home-subtitle{
				width: 550px;
			}
			&.home-5-text{
				margin-top: 5%;
			}
		}
		.home-img{
			&.home-5-img{
				margin-top: 10%;
			}
		}
}
	 // INDEX - END

	 // PLAN IMPROVEMENT - START
	 .plan-1{
		 .row{
			 .plan-1-circle{
				 .circle-1{
					 height: 230px;
					 width: 230px;
					 .circle-text{
						 padding-top: 0;
						 p{
							 font-size: 15px;
						 }
					 }
				 }
			 }
		 }
		 .plan-1-subtitle{
			 margin-top: 10%;
		 }
	 }
	 .plan-2{
		 .container{
			 .row{
			 	// .mega-big{
 	 		// 	 	font-size: 400px;
 	 		//  	}
 	 		 .plan-2-text{
 	 			 h1{
 	 				 .h2_font;
 	 			 }
 	 		 }
			}
		 }
	 }
	 .plan-3{
		 .container{
			 .row{
				 .plan-3-text{
					 h1{
						 .h2_font;
					 }
				 }
			 }
		 }
	 }
	 .plan-4{
		 .container{
			 .row{
				 .plan-3-text{
					 h1{
						 .h2_font;
					 }
				 }
			 }
		 }
	 }
	 .plan-5{
		 .container{
			 .row{
				 .plan-5-text{
					 h1{
						 .h2_font;
					 }
				 }
			 }
		 }
	 }
	 // PLAN IMPROVEMENT - END

	 // WHY DECARBONIZE - START
	 .box-container, .box-container-2{
 		.isotope-wrap{
 			width: 950px;
 		}
 	}
	 // WHY DECARBONIZE - END

	 // ASSESS - START
		.assess-spec{
			.my-container{
				.isotope-wrap{
					.item-wrap{
						h5{
							font-size: 18px;
							bottom: -100px;
							line-height: 24px;
							// &.title-moved{
							// 	bottom: 0px;
							// }
						}
					}
				}
			}
		}
	 // ASSESS - END
}
@media only screen and (max-width :  1080px){
	.hero{
		h2{
			.h3_font;
		}
		.p-subtitle{
			.p-large_font;
			font-weight: 300;
		}
		.p-large{
			.p-small_font;
		}
		height: auto;
		&.hero-light_blue{
			.row{
				margin-left: -13%;
			}
		}
		&.hero-dark_blue{
			.row{
				margin-top: 7%;
			}
			.container-with-padding{
				padding-top: unset;
			}
		}
		&.hero-green{
			.row{
				margin-top: 18%;
			}
			.container-with-padding{
				padding-top: 5%;
			}
		}
		&.hero-purple{
			.row{
				margin-top: 8%;
			}
		}
		&.hero-turquesa-1{
			.row{
				margin-bottom: 14%;
			}
		}
		.home-img{
			&.home-3-img{
				height: 500px;
			}
			&.home-4-img{
				height: 400px;
				margin-top: 10%;
			}
			&.home-6-img, &.home-7-img{
				height: 500px;
			}
			&.home-5-img{
				margin-top: -7%;
			}
		}
		.home-text{
			.home-title{
				width: unset;
			}
			.home-subtitle{
				width: unset;
			}
			&.home-1-text{
				margin-left: -3%;
				margin-top: 15%;
			}
			&.home-4-text{
				margin-top: 13%;
			}
			&.home-5-text{
				margin-top: -6%;
			}
		}
		// .home-7-text{
		// 		margin-top: 5%;
		// 		padding-bottom: 7%;
		// }

	}
	// ABOUT US start
	.about{
		.about-1-text-container{
			top: 65%;
		}
		.about-2-text-container{
			width: 70%;
		}
		.about-image{
			.about-1-image{
				background-position-y: -5%;
			}
		}
	}
	//ABOUT US end

	// WHY DECARBONIZE NOW - START
	.main-container{
		.main-content{
			width: 50%;
		}
		.main-text{
			margin-top: 20%;
		}
	}
	// WHY DECARBONIZE NOW - END

	.footer{
		height: 65vh;
	}

}
@media only screen and (max-width :  1024px){
	.isotope-wrap{
		margin-left: 10%;
		.item-wrap{
			&.row-small{
				height: 180px;
				width: 180px;
			}
		   .item{
			   height: auto;
				 padding: 30px;
				 h5{
					 font-size: 22px;
				 }
				 .icons-title{
					 h5{
						 font-size: 22px;
					 }
				 }
			   h4{
					 .h5_font;
				   top: 140px;
					 &.envi-stew{
						 top: 120px;
						 line-height: 30px;
						 left: 2px;
					 }
					 &.stake-engage{
						 top: 120px;
					 }
			   }
		   }
		   &.row-big{
			   height: auto;
		   }
	   }
   }
	 .hero{
		 .home-title{
			 h2{
				 .h4_font;
			 }
		 }
		 .home-subtitle{
			 .p-subtitle{
				 .p-large;
				 font-style: italic;
			 }
			 .p-large{
				 .p-small;
			 }
		 }
		 &.hero-dark_blue-1{
			 h2{
				 .h4_font;
			 }
			 .p-subtitle{
				 .p-large;
			 }
		 }
		 &.hero-turquesa{
			 .home-circle-arrow-container{
				 height: 400px;
			 }
			 .home-2-title{
				 h2{
					 .h4_font;
				 }
			 }
			 .home-2-subtitle{
				 h5{
					 .p-large;
					 font-style: italic;
				 }
			 }
			 .home-2-text{
				 .p-large{
					 .p-small_font;
				 }
			 }
		 }
		 &.hero-dark_blue{
			 .row{
				 margin-top: 5%;
			 }
			 .container-with-padding{
				 padding-top: 0;
			 }

		 }
		 &.hero-green{
			 .container-with-padding{
				 padding-top: 11%;
			 }
		 }
		 &.hero-purple{
			 .row{
				 margin-top: 10%;
			 }
		 }
		 &.hero-turquesa-1{
			 .row{
				 margin-top: 12%;
			 }
		 }
		 .home-img{
			 &.home-3-img{
				 height: 450px;
			 }
			 &.home-4-img{
				 height: 400px;
				 margin-top: 10%;
			 }
			 &.home-5-img{
				 margin-top: unset;
				 height: 350px;
			 }
			 &.home-7-img{
				 height: 450px;
			 }
		 }
		 .home-text{
			 max-width: 45%;
			 &.home-1-text{
				 margin-top: 20%;
			 }
			 &.home-4-text{
				 margin-top: 15%;
			 }
			 &.home-7-text{
				 margin-top: 9%;
			 }
		 }
	 }
	 .footer{
		 height: 60vh;
		 .footer-text{
			 position: unset;
			 .footer-title{
				// width: 600px;
				 margin: 0 auto;
			 }
			 .footer-subtitle{
				 padding-top: 10px;
			 }
			 .footer-button{
				 margin: 20px auto;
			 }
		 }
		//  h2{
		// 	 .h4_font;
		//  }
		 .subheadline{
			 .p-large_font;
		 }
	 }

	 // why decarbonize - start
	 .decarbonize-container{
		 h2{
			 .h4_font;
		 }
		 h4{
			 .p-large_font;
		 }
		.main-text{
			margin-top: 10%;
			margin-left: 10%;
		}
	 }
	 .decarbonize-box-container{
		 .main-title-ecam{
			 padding-top: 10%;
		 }
	 }
	 .box-container{
		 h2{
			.h4_font;
		}
		h4{
			.p-large_font;
		}
	 }
	 .box-container-2{
		 h2{
			.h4_font;
		}
		h4{
			.p-large_font;
		}
	 }
	 // why decarbonize - end

	 // plan improvement - start
	 .plan{
		 h1{
			 .h2_font;
		 }
		 &.plan-1{
			 .plan-1-subtitle{
				 margin-top: 0%;
				 padding-top: 100px;
			 }
			 .row{
				 .plan-1-circle{
					 .circle-1{
						 .circle-text{
							 padding-top: 15%;
						 }
					 }
				 }
			 }
		 }
		 &.plan-2, &.plan-3, &.plan-4, &.plan-5{
			 .container{
				 .row{
					 .mega-big{
						 font-size: 300px;
					 }
					 .plan-2-text, .plan-3-text{
						 margin-top: unset;
					 }
					 .plan-4-text{
						 margin-left: -10%;
					 }
				 }
			 }
		 }
	 }
	 // plan improvement - end

	 // about us - start
	 .about-hero{
		 h1{
			 .h2_font;
		 }
		 .subheadline{
			 .p-large;
		 }
	 }
	 // about us - end

	 // ASSESS - START
	 .assess-spec{
		 .my-container{
			 .isotope-wrap{
				 .item-wrap{
					 h5{
						 bottom: -90px;
					 }
				 }
			 }
		 }
	 }
	 // ASSESS - END
}

@media all and (max-width: 993px) {
	.knw-mob_nav_wrap{
		.knw-logo_wrap{
			width: auto;
			max-width: 25%;
			-webkit-box-flex: 0;
		    -webkit-flex: 0 0 0;
		    -ms-flex: 0;
		    flex: 0;
		}
		.col-md-8{
			width: auto;
			max-width: 75%;
			-webkit-box-flex: 0;
		    -webkit-flex: 0 0 0;
		    -ms-flex: 0;
		    flex: 0;
		}
	}
	h1{
		.h5_font;
	}
	h2{
		.h5_font;
		line-height: 35px !important;
	}
	.subheadline{
		.p-large_font;
	}
	.p-subtitle{
		.p-small_font;
	}
	h5{
		.p-small_font;
		font-style: italic;
	}
	.p-large{
		.p-small;
	}
	.footer{
		height: 60vh;
		.footer-text{
			.footer-subtitle{
				.subheadline{
					font-weight: 300 !important;
				}
			}
		}
	}

	.home-button{
		&.home-large-width-button{
			width: 90%;
		}
	}
	.share-it{
		display: none;
	}

// FOOTER GREEN Start
	.footer {
		height: 450px;
		.footer-text{
			.footer-title{
				h2 {
					.h3_font;
				}
			}
			.footer-subtitle{
				.subheadline{
					.p-large_font;
					font-weight: @light;
				}
			}
			.footer-button{
			    width: 180px;
    			height: 60px;
				.p-small{
					.p-xsmall_font;
				}
			}
		}

	}
// FOOTER GREEN End
	// left sidebar menu - start
	.menu {
		&.left-menu-sidebar{
			display: none;
		}
	}
	// left sidebar menu - end
	.isotope-wrap{
		margin-left: 20%;
		.item-wrap{
		 .item{
			 h4{
				 top: 140px;
				 .h5_font;
				 .envi-stew{
					 left: 4px;
				 }
			 }
		 }
	 	}
	}
	#popUp {
		display: none!important;
	}
	#plus {
	    margin-left: 0px;
	}

	.about {
		.about-1-text-container{
			top: 8%;
			max-width: 80%;
			.p-large {
				font-weight: 400;
			}
		}
		.about-2-text-container{
			width: 78%;
		}
		.about-3-text-container{
			max-width: 80%;
			padding-top: 20%;
		}

		&.about-3-back{
			.about-3-img{

				height: 150px;

			}
		}
	}

	// INDEX - START
	.hero{
		.home-img{
			height: unset;
			&.home-4-img{
				height: 420px;
			}
		}
		.hero-container{
			margin-top: 15%;
		}
		&.hero-turquesa{
			.container-with-padding{
				padding-top: 2%;
			}
			.home-2-text-container{
				margin-top: 15%;
			}
			.home-circle-arrow-container{
				margin-left: 17%;
				.home-circle {
					h1{
						.h2_font;
					}
					h5{
						font-style: normal;;
					}
					&.circle-1{
						margin-top: unset;
						&::after{
							display: none;
						}
					}
					&.circle-2{
						margin-left: 2%;
						&::after{
							display: none;
						}
					}
					&.circle-3{
						margin-left: 2%;
						margin-top: unset;
						&::after{
							display: none;
						}
					}
					&.circle-4{
						margin-left: 13%;
						margin-top: 2%;
						&::after{
							display: none;
						}
					}
					&.circle-5{
						margin-left: 2%;
						margin-top: 2%;
						&::after{
							display: none;
						}
					}
				}
			}
		}
		&.hero-dark_blue{
			.container-with-padding{
				padding-top: 3%;
			}
			.home-text{
				&.home-4-text{
					margin-top: 14%;
				}
			}
		}
		&.hero-green{
			.container-with-padding{
				.row{
					margin-top: 5%;
					.home-5-text{
						.home-subtitle{
							.p-subtitle{
								font-style: italic;
							}
						}
					}
				}
			}
		}
		&.hero-turquesa-1{
			.row{
				margin-top: 6%;
			}
		}
		.home-text{
			.home-title{
				width: 315px;
			}
			.home-subtitle{
				width: 315px;
			}
			&.home-1-text{
				margin-top: 20%;
			}
			&.home-7-text{
				margin-top: 5%;
				.home-title{
					width: 325px;
				}
				.home-subtitle{
					width: 325px;
				}
			}
		}
	}
	// INDEX - END


	// PLAN IMPROVEMENT - START
	.plan-1{
		.plan-1-title{
			h1{
				.h5_font;
			}
		}
		.plan-1-subtitle{
			margin-top: unset;
			padding-top: 110px;
		}
		.row{
			.plan-1-circle{
				.circle-1{
					height: 180px;
					width: 180px;
					.circle-content{
						padding-top: unset;
						.circle-title{
							h1{
								font-size: 90px;
								margin-top: 10%;
							}
						}
					}
					.circle-text{
						padding-top: 0;
						p{
							font-size: 12px;
							line-height: 20px;
							margin-top: -5%;
						}
					}
				}
			}
		}
	}
	.plan-2{
		.container{
			.row{
				.mega-big{
					font-size: 100px !important;
					// margin-left: 50%;
    				margin-top: 15%;
				}
				.plan-2-text{
					// padding-top: 10%;
					h2{
						padding-top: 5%;
						.h5_font;
					}
				}
			}
		}
	}
	.plan-3{
		.container{
			.row{
				.mega-big{
					font-size: 100px !important;
					// margin-left: 60%;
    				margin-top: 15%;
				}
				.plan-3-text{
					// padding-top: 10%;
					// margin-left: 2%;
					h2{
						padding-top: 5%;
						.h5_font;
						br{
							display: none;
						}
					}
				}
			}
		}
	}
	.plan-4{
		.container{
			.row{
				.mega-big{
					font-size: 100px !important;
    				margin-top: 15%;
					// margin-left: 55%;
				}
				.plan-4-text{
					margin-left: 0% !important;

					h2{
						padding-top: 10%;
						.h5_font;
					}
				}
			}
		}
	}
	.plan-5{
		.container{
			.row{
				.mega-big{
					font-size: 100px !important;
    				margin-top: 15%;
				}
				.plan-5-text{
					margin-left: 0% !important;
					margin-top: 0%;
					h2{
						.h5_font;
					}
				}
			}
		}
	}
	// PLAN IMPROVEMENT - END

	// WHY DECARBONIZE NOW - START
	.main-container{
		.main-text{
			margin-top: 30%;
		}
		.main-title{
			h2{
				.h3_font;
			}
		}
		.main-content{
			h4{
				.p-large_font;
				font-weight: 300;
			}
		}
	}
	.box-container, .box-container-2{
		.main-title-ecam{
			padding-top: 10%;
		}
		.isotope-wrap-moved{
			width: 800px;
			margin-left: -5%;
		}
	}
	// WHY DECARBONIZE NOW - END
	// ASSESS - START
	.assess-spec{
		.my-container{
			.isotope-wrap{
				.item-wrap{
					h5{
						font-style: normal;
						font-weight: 700;
					}
				}
			}
		}
	}
	// ASSESS - END
}
@media only screen and (max-width : 850px){
	.hero{
		&.hero-light_blue{
			.container-with-padding{
				&.container-with-smaller-padding{
					padding-top: 10%;
				}
			}
		}
		&.hero-purple{
			.container-with-padding{
				padding-top: 5%; //!important;
			}
		}
		&.hero-turquesa{
			.home-circle-arrow-container{
				margin-left: 10%;
			}
		}

		.home-text{
			width: 380px;
			padding-top: 5% !important;
			&.home-1-text{
				margin-top: 10% !important;
				padding-left: 10%;
			}
			&.home-4-text{
				margin-top: 14% !important;
				.home-subtitle{
					width: 380px;
				}
			}
			&.home-5-text{
				.p-large{
					width: 380px;
				}
			}
			&.home-6-text{
				.home-6-subtitle{
					width: 380px;
				}
			}
			&.home-7-text{
				.home-title{
					width: 380px;
				}
			}
		}
	}
	.about{
		.about-1-text-container{
			left: 10%;
		}
	}
	// WHY DECARBONIZE NOW - START //
	.main-container{
		.main-text {
	    	margin-top: 20%;
		}
	}
	// WHY DECARBONIZE NOW - END //
}
@media only screen and (max-width : 775px){
	.hero{
		&.hero-turquesa{
			.home-circle-arrow-container{
				margin-left: 10%;
			}
		}
		.home-2-title{
			margin-top: 15%;
		}
		.home-text{
			width: 350px;
			&.home-4-text{
				margin-top: 7% !important;
				.home-subtitle{
					width: 350px;
				}
			}
			&.home-5-text{
				.p-large{
					width: unset;
				}
			}
			&.home-6-text{
				.home-6-subtitle{
					width: unset;
				}
			}
		}
	}
	.home-button{
		&.home-large-width-button{
			width: 90%;
			p{
				font-size: 12px;
			}
		}
	}
}

@media only screen and (max-width : 769px){
	.knw-navigation, .knw-navigation.sticky{
		box-shadow: none;
		position: fixed;
		top: auto;
		bottom: 0px;
		left: 0px;
		height: 100px;
		z-index: 1100;
		background-color: transparent;
		margin-top: 0px;
		padding-top: 40px;
		background: -webkit-linear-gradient(rgba(0,0,0,0) 5%, rgba(0,0,0,0.6) 100%);
		background: -o-linear-gradient(rgba(0,0,0,0) 5%, rgba(0,0,0,0.6) 100%);
		background: linear-gradient(rgba(0,0,0,0) 5%, rgba(0,0,0,0.6) 100%);

		.knw-mob_nav_wrap{
			z-index: 1150;
			.knw-mob_nav{
				text-align: center;
				cursor: pointer;
			    line-height: 1;
			    display: block;
				.knw-mob_icons{
					font-size: @icon-nav;
					color: @white;
					width: 100%;
					display: block;
				}
				.knw-mob_text{
					text-transform: uppercase;
					color: @white;
					.p-mobile-nav;
				}
			}
			.knw-nav_desk{
				display: none;
			}
		}
		.knw-logo_wrap{
			display: none;
		}
		.menu_item{
			line-height: 65px;
		}
	}
	.menu{
		display: none;
	}
	.footer{
		height: 60vh;
	}
	.home-button{
		width: 150px;
		height: 45px;
		padding: 8px;
		&.home-large-width-button{
			width: 290px;
		}
	}
	// Why Decarbonize Now - Start
	.isotope-wrap{
		&.isotope-wrap-moved{
			width: auto;
			margin-left: 10%;
		}
		 .item-wrap{
			 &.row-small{
				 height: 190px;
				 width: 190px;
			 }
			.item{
				height: auto;
				h4{
					top: 140px;
					font-size: 24px;
					line-height: 25px;
				}
			}
			&.row-big{
				height: auto;
			}
		}
	}
	// Why Decarbonize Now - End
	// Assess Your System
	.row-ecam{
		margin-left: unset;
	}
	.chart-3-text{
		p{
			text-align: center;
		}
	}
	.assess-learn {
		.split{
			margin-left: unset;
		}
	}
	// INDEX - START
	.hero{
		height: auto;
		.container-with-padding{
			&.container-with-smaller-padding{
				padding-top: 0%;
			}
			padding-top: 5% !important;
			padding-bottom: 0%;
		}
		.left-sidebar-menu{
			display: none !important;
		}
		&.hero-dark_blue{
			.hero-container{
				.hero-title{
					h2{
						.h5_font;
					}
				}
			}
			.home-4-text{
				margin-top: 15%; //!important;
				margin-bottom: 10%;
			}
		}
		&.hero-green{
			.container-with-padding{
				padding-top: 22%; // !important;
			}
			.home-5-text{
				margin-bottom: 10%;
			}
		}
		&.hero-purple{
			.container-with-padding{
				padding-top: 7%; // !important;
			}
		}
		&.hero-turquesa{
			height: auto !important;
			.container-with-padding{
				padding-top: 12%; //!important
			}
			.home-circle-arrow-container{
				display: none;
			}
			.turquesa-img{
				background-size: contain;
				background-position: unset;
				height: 450px;
			}
			.container-hidden{
				display: block;
				text-align: center;
				padding-bottom: 10%;
				h1{
					.h2_font;
					margin-bottom: 0;
					color: @dark_blue;
				}
				h5{
					font-style: normal;
					.p-large_font;
				}
				.p-small{
					.p-xsmall_font;
				}
				.home-circle-hidden{
					height: 170px;
					width: 170px;
					background-color: @white;
					border-radius: 100%;
					margin-right: 10px;
					margin-top: 10px;
					&.circle-1-hidden{
						h5{
							color: @dark_blue;
						}
						.p-small{
							color: @dark_blue;
						}
					}
					&.circle-2-hidden{
						h5{
							color: @light_blue;
						}
						p{
							color: @light_blue;
						}
					}
					&.circle-3-hidden{
						h5{
							color: @green;
						}
						p{
							color: @green;
						}
					}
					&.circle-4-hidden{
						margin-left: 12%;
						h5{
							color: @orange;
						}
						p{
							color: @orange;
						}
					}
					&.circle-5-hidden{
						h5{
							color: @purple;
						}
						p{
							color: @purple;
						}
					}
				}
			}
		}
		.home-container-2{
			.home-2-text-container{
				text-align: center;
			}
		}
		.home-img{
			height: 400px;
			margin-left: 5%;
			&.home-3-img{
				height: 400px;
				margin-left: unset;
				margin-top: 15%;
			}
			&.home-4-img{
				   margin-top: 15%;
			}
			&.home-5-img{
				margin-top: 10%;
			}
			&.home-7-img{
				height: 400px;
			}
		}
		.home-text{
			&.home-1-text{
				margin-top: 20% //!important;
			}
			&.home-7-text{
				margin-top: 4% !important;
			}
		}
		.home-title{
			h2{
				.h5_font;
				line-height: 35px !important;
			}
		}
		.home-subtitle{
			.p-subtitle{
				font-style: italic;
			}
			p{
				font-size: 14px;
				line-height: 22px;
			}
		}
	}

	// INDEX - END

	// ABOUT START
	.about {
		&.about-3-back{
			.about-3-img{

				height: 150px;

			}
		}
	}
	.about-sub-footer{
		.sub-footer-left{
			padding-left: 0%;
		}
		.sub-footer-right{
			padding-right: 0%;
			.sub-footer-text-right{
				padding-left: 0%;
			}
		}
	}
	//ABUOT END

}

@media only screen and (max-width: 750px){
	.hero{
		.home-img{
			&.home-5-img{
				margin-top: 20%;
			}
		}
	}
	.about-hero{
		.about-hero-container{
			padding-top: 70px;
			.about-hero-title{
				h1 {
					.h5_font;
				}
			}
			.about-hero-subtitle{
				.subheadline{
					.p-small_font;
					font-weight: @light;
					font-style: italic;
				}
			}
		}
	}
	.about{
		.about-1-text-container{
			text-align: center;
			.p-large{
				.p-small_font;
			}
		}
		.about-2-text-container{
			width: 78%;
			h2 {
				.h5_font;
			}
		}
		.about-3-text-container{
			padding-top: 6%;

			h2 {
				.h5_font;
			}
			.p-large{
				.p-small_font;
			}
		}
		.about-image{
			&.about-1-image{
				background-size: 0%;
			}
		}
	}

	.about-sub-footer{

		.sub-footer-left{
			height: 330px;
			.sub-footer-text-left{

				.subheadline{
					.p-small_font;
					font-weight: @light;
				}
			}
		}

		.sub-footer-right{
			height: 330px;
			.sub-footer-text-right{

				padding-bottom: 40px;
				.subheadline{
					.p-small_font;
					font-weight: @light;
				}
			}
		}
		.knw-btn{
			.p-xsmall_font;
			line-height: 36px;
			padding: 0px 15px;
		}
		.hvr-icon-forward:before{
			content: none;
		}
	}

}

@media only screen and (max-width: 680px){
// GREEN FOOTER start
	.footer {
		height: 450px;
		.footer-text{
			.footer-title{
				h2 {
					.h5_font;
				}
			}
			.footer-subtitle{
				.subheadline{
					.p-small_font;
					font-weight: @light;
					font-style: italic;
				}
			}
			.footer-button{
			    width: 140px;
			    height: 38px;
			    padding: 4px;
				.p-small{
					.p-xsmall_font;
				}
				//sterlica u BUTTONu
				.fa-long-arrow-right:before {
				    content: none;
				}
			}
		}

	}
// GREEN FOOTER END
// ABOUT US START
	.about-hero{

		.about-hero-container{
			padding-top: 50px;
			.about-hero-title{
				h1 {
					.h5_font;
				}
			}
			.about-hero-subtitle{
				.subheadline{
					.p-small_font;
					font-weight: @light;
					font-style: italic;
				}
			}
		}

	}

	.about{
		.about-1-text-container{
			/*
			position: relative;
			*/
			text-align: center;

			.p-large{
				.p-small_font;
			}
		}
		.about-2-text-container{
			width: 78%;
			h2 {
				.h5_font;
			}
		}
		.about-3-text-container{
			padding-top: 6%;

			h2 {
				.h5_font;
			}
			.p-large{
				.p-small_font;
			}
		}
		.about-image{
			&.about-1-image{
				background-size: 0%;
			}
		}
	}

	.about-sub-footer{

		.sub-footer-left{
			height: 330px;
			.sub-footer-text-left{

				.subheadline{
					.p-small_font;
					font-weight: @light;
				}
			}
		}

		.sub-footer-right{
			height: 330px;
			.sub-footer-text-right{
				padding-left: 0%;
				padding-bottom: 40px;
				.subheadline{
					.p-small_font;
					font-weight: @light;
				}
			}
		}
		.knw-btn{
			.p-xsmall_font;
			line-height: 36px;
			padding: 0px 15px;
		}
		.hvr-icon-forward:before{
			content: none;
		}
	}
// ABOUT US END
}

@media only screen and (max-width: 580px){

	.about-hero{
		.about-hero-container{
			padding-top: 50px;
			margin-left: unset;
    		transform: translateX(1%);

			.about-hero-title{
				h1 {
					.h5_font;
				}
			}
			.about-hero-subtitle{
				.subheadline{
					.p-small_font;
					font-weight: @light;
					font-style: italic;
				}
			}
		}

	}
	.about{
		.about-1-text-container{
			text-align: center;
			.p-large{
				.p-small_font;
			}
		}
		.about-2-text-container{
			width: 98%;
			h2 {
				.h5_font;
			}
		}
		.about-3-text-container{
			padding-top: 33%;
			h2 {
				.h5_font;
			}
			.p-large{
				.p-small_font;
			}
		}
		.about-image{
			&.about-1-image{
				background-size: 0%;
			}
		}
	}

	.about-sub-footer{
		.sub-footer-left{
			height: 330px;
			.sub-footer-text-left{
				.subheadline{
					.p-small_font;
					font-weight: @light;
				}
			}
		}
		.sub-footer-right{
			height: 330px;
			.sub-footer-text-right{
				.subheadline{
					.p-small_font;
					font-weight: @light;
				}
			}
		}
		.knw-btn{
			.p-xsmall_font;
			line-height: 36px;
			padding: 0px 15px;
		}
		.hvr-icon-forward:before{
			content: none;
		}
	}



 // PALN IMPROVEMENT - START


	 // PALN IMPROVEMENT - START
	.plan-1{
		.container{
			.plan-1-title{
			 h1{
				.h5_font;
				}
			}
			.plan-1-subtitle{
				margin-top: unset;
				padding-top: 5%;
			}
		}
	}

	 .plan-2{
		 .plan-2-text{
			 h1{
				 margin-top: 10%;
				 padding-top: unset;
			 }
		 }
	 }
	 .plan-3{
		 .container{
			 .row{
				 .plan-3-text{
					 margin-top: 12%;
	    		// padding-left: 55px;
				 }
			 }
		 }
	 }
	 .plan-4{
		 .container{
			 .row{
					.mega-big{
						margin-left: 0;
					}
					.plan-3-text{
						margin-top: 7%;
						padding-left: 50px;
					}
					.plan-4-text-left{
					 	margin-left: 0;
				}
			}
	 	}

	 }
	 .plan-5{
		 .container{
			 .row{
				 .plan-5-text{
					 margin-top: 5%;
				}
			}
		}

	 // PLAN IMPROVEMENT - END
	}
}

@media only screen and (max-width: 650px){
	.home-button{
		width: 180px;
		height: 55px;
		padding: 13px;
		p{
			.p-xsmall_font;
		}
	}
	.hero{
		h2{
			.h5_font;
		}
		.container-with-padding{
			&.container-with-padding{
				padding-top: 0 !important;
				padding-bottom: 10%;
			}
		}
		.home-subtitle{
		//	width: auto !important;
			.p-large{
				width: auto !important;
			}
		}
		.home-text{
			&.home-1-text{
				margin-top: 10%;
			}
			&.home-5-text{
				margin-bottom: unset;
			}
			&.home-7-text{
				margin-top: 10% !important;
			}
		}
		.home-img{
			&.home-3-img{
				margin-top: 15%;
			}
			&.home-4-img{
				margin-top: 10%;
			}
			&.home-5-img{
				height: 420px;
				margin-top: 5%;
			}
		}
		&.hero-dark_blue{
				.home-4-text{
					margin-top: 10%;
				}
			 .container-with-padding{
	 			&.container-with-padding{
	 				padding-bottom: 5%;
					padding-top: 5% !important;
	 			}
	 		}
		}
		&.hero-green{
			.container-with-padding{
				padding-top: 17% !important;
				padding-bottom: 5% !important;
			}
		}
		&.hero-purple{
			.container-with-padding{
				padding-top: 8% !important;
				padding-bottom: 0 !important;
			}
		}
		&.hero-turquesa{
			.container-with-padding{
				padding-top: 5% !important;
				padding-bottom: 5% !important;
			}
		}
	}
	.footer{
		.footer-text{
			a{
				//margin-left: 30%;
				width: 230px;
				.home-button{
					width: 230px;
				}
			}
		}
	}
}

@media only screen and (max-width: 575px){
	.hero{
		&.hero-light_blue, &.hero-dark_blue, &.hero-green, &.hero-turquesa-1, &.hero-purple{
			.row{
				margin-left: unset;
			}
		}
		.home-img{
			margin-left: unset;
			margin-bottom: 0;
			&.home-3-img{
				margin-top: 5%;
			}
		}
		.home-text{
			max-width: unset;
			margin: 0 auto;
			padding-left: 0% !important;
			margin-top: 5% !important;
			width: unset;
			a{
				margin: 0 auto;
			}
			.home-title{
				width: unset;
			}
			.home-subtitle{
				width: unset !important;
				&.home-dark-blue-subtitle{
					padding-left: 20px;
			    padding-right: 10px;
				}
			}
		}
		.home-title{
			text-align: center;
		}
		.home-subtitle{
			margin: 0 auto;
			padding-left: 10px;
    	padding-right: 10px;
		}
		.home-button{
			margin: 0 auto;
		}
		&.hero-turquesa{
			.container-hidden{
				.home-circle-hidden{
					&.circle-1-hidden{
						margin-left: 10px;
					}
					&.circle-4-hidden{
						margin-left: 15%;
					}
				}
			}
		}
		&.hero-dark_blue{
			.home-4-text{
				margin-top: unset;
				margin: 0 auto;
				margin-bottom: 10%;
			}
		}
		&.hero-purple{
			.home-6-img{
				margin-top: 10%;
				height: 300px;
			}
			.home-6-text{
				margin-bottom: 10%;
			}
		}
		&.hero-turquesa{
			.home-7-img{
			    margin: 0 auto;
				margin-top: 10%;
				padding:0px 15px;
			}
		}
	}
	.plan-1{
		.plan-1-title{
			padding-top: 50px;
		}
		.container{
			.plan-1-subtitle{
				margin-top: -10%;
    		padding-top: 0;
			}
		}
		.col-lg-3{
			&.col-md-3{
				&.col-sm-6{
					width: 50%;
				}
			}
		}
	}
	.plan-2{
		.container{
			.row{
			 .mega-big{
				 font-size: 200px;
				 text-align: center;
				 margin-top: 0;
				 margin-left: 0;
			 }
			.plan-2-text{
				margin-top: unset;
				padding-top: unset;
				h1{
					.h4_font;
					margin-top: unset;
				}
			}
		}
	}
}
	.plan-3{
		.container{
			.row{
				.mega-big{
						font-size: 200px;
						text-align: center;
						margin-top: 0;
						margin-left: 0;
					}
					.plan-3-text{
						margin-top: unset;
						padding-top: unset;
					h1{
					.h4_font;
						margin-top: unset;
					}
				}
			}
		}
	}
	.plan-4{
		.container{
			.row{
				.mega-big{
					font-size: 200px;
					text-align: center;
					margin-top: 0;
					margin-left: 0;
				}
				.plan-4-text{
					padding-top: 0;
				}
				.plan-4-text-left{
					margin-left: 3%;
				}
			}
		}
	}
	.plan-5{
		.container{
			.row{
			 .mega-big{
				 font-size: 200px;
				 text-align: center;
				 margin-top: 0;
				 margin-left: 0;
			 }
			.plan-5-text{
				margin-top: unset;
				padding-left: unset;
				h1{
					.h4_font;
					margin-top: unset;
				}
			}
			.plan-5-text-left{
				margin-left: 3%;
			}
		 }
		}
	}
	// WHY DECARBONIZE NOW - START //
	.main-container{
		.main-content{
			width: 90%;
		}
		.main-text {
	    	margin-top: 50%;
		}
	}
	// WHY DECARBONIZE NOW - END //
}
@media only screen and (max-width: 560px){
	.hero{
		.home-circle-hidden{
			width: 155px !important;
			height: 155px !important;
		}
	}
	.p-small{
		font-size: @xtra-small;
	}
}
@media only screen and (max-width : 550px){
	.hero{
		.home-circle-hidden{
			width: 165px !important;
			height: 165px !important;
			.circle-1-hidden{
				margin-left: 5px;
			}
		}
		&.hero-light_blue{
			.container-with-padding{
				padding-top: 0 !important;
			}
		}
		&.hero-dark_blue{
			.container-with-padding{
				padding-top: 0 !important;
			}
		}
		.home-img{
			&.home-3-img{
				margin-left: -5%;
			}
		}
		.home-text{
			&.home-1-text{
				margin-top: 5%;
			}
		}
	}
	.footer{
		min-height: 650px;
	}
	.isotope-wrap{
		margin-left: 30%;
	}
	.about {

		.about-3-text-container{

		}
		&.about-3-back{
			.about-3-img{

				margin-top: 2%;

			}
		}
	}
}

@media only screen and (max-width: 510px) {
	.hero{
		&.hero-light_blue, &.hero-dark_blue, &.hero-green, &.hero-turquesa-1, &.hero-purple{
			.row{
				margin-left: unset;
			}
		}
		&.hero-turquesa{
			.container-hidden{
				display: none;
			}
			.container-mobile-hidden{
				display: block;
				.circle-col{
					width: 50%;
					height: auto;
					margin-bottom: 3%;
				}
				.row{
					.circle-mobile-text{
						padding-top: 10%;
						color: @grey;
						h5{
							.h5_font;
							font-style: normal;
						}
						p{
							.p-small_font;
						}
					}
					.circle-mobile-text-3{
						padding-top: 5%;
					}
					.circle-mobile-text-5{
						padding-top: 5%;
					}
					.circle-mobile{
						margin: 0 auto;
						width: 150px;
						height: 150px;
						background-color: @white;
						// border: 2px solid @grey;
						border-radius: 100%;
						box-shadow: 0 7px 22px 0 rgba(72, 72, 90, 0.15);
						h1{
							.h2_font;
							padding-top: 25%;
							text-align: center;
						}
						&.circle-mobile-1{
							h1{
								color: @dark_blue;
							}
						}
						&.circle-mobile-2{
							h1{
								color: @light_blue;
							}
						}
						&.circle-mobile-3{
							h1{
								color: @green;
							}
						}
						&.circle-mobile-4{
							h1{
								color: @orange;
							}
						}
						&.circle-mobile-5{
							h1{
								color: @purple;
							}
						}
					}
				}
			}
		}
		.home-text{
			width: unset;
			a{
				margin: 0 auto;
			}
			.home-title{
				width: unset;
			}
			.home-subtitle{
				width: unset !important;
			}
		}
	}
	.plan-1{
		.container{
			.plan-1-title{
				// h1{
				// 	.h3_font;
				// }
			}
			.plan-1-subtitle{
				padding-top: unset;
			}
		}
		.plan-1-circle{
			display: none;
		}
		.container-mobile-hidden{
			display: block;
			.circle-col{
				width: 50%;
				height: auto;
				margin-bottom: 3%;
			}
			.row{
				.circle-mobile-text{
					padding-top: 25%;
					color: @grey;
				}
				.circle-mobile-text-3{
					padding-top: 35%;
				}
				.circle-mobile-text-5{
					padding-top: 5%;
				}
				.circle-mobile{
					margin: 0 auto;
					width: 150px;
					height: 150px;
					background-color: @white;
					// border: 2px solid @grey;
					border-radius: 100%;
					box-shadow: 0 7px 22px 0 rgba(72, 72, 90, 0.15);
					h1{
						font-size: 80px;
						padding-top: 30%;
						text-align: center;
						color: @dark_blue;
					}
				}
			}
		}
	}
	.plan-3{
		.container{
			.row{
				.plan-3-text{
					padding-left: 15px;
				}
			}
		}
	}
	.plan-4{
		.container{
			.row{
				.plan-4-text-left{
					padding-left: 15px;
				}
				.plan-3-text{
					padding-left: 15px;
				}
			}
		}
	}
}
@media only screen and (max-width : 480px){
	.hero{
		&.hero-turquesa{
		}
	}
	.isotope-wrap{
		&.isotope-wrap-moved{
			margin-left: 25%;
		}
	}
	.footer{
		min-height: 450px;
	}
	// WHY DECARBONIZE NOW - START //
	.main-container{
		.main-text {
	    	margin-left: 5%;
		}
	}
	// WHY DECARBONIZE NOW - END //
}
@media only screen and (max-width: 420px){

	.about-sub-footer{
		.sub-footer-right{
			.sub-footer-text-right{
				padding-bottom: 25px;
			}
		}
	}

}
@media only screen and (max-width : 412px){
	.hero{
		&.hero-dark_blue-1{
			.hero-container{
				margin-top: 20%;
			}
		}
	}
}
@media only screen and (max-width : 400px){
	.hero{
		&.hero-dark_blue-1{
			.hero-container{
				margin-top: 20%;
			}
		}
	}
	.plan-1{
		.plan-1-subtitle{
			padding-top: 55%;
		}
	}
// ABOUT US Start
	.about-hero{
		h1{
			.h5_font;
		}
		.subheadline{
			.p-small_font;
			font-style: italic;
		}
	}
	.about{
		.p-large{
			.p-small_font;
			line-height: 16px;
		}
		.about-1-text-container{
		    width: 80%;
		    height: auto;
		    padding-top: 25%;
		    // left: 15%;
		    position: relative;
			text-align: center;
		}
		.about-2-text-container{
			h2{
				.h5_font;
			}
			width: 100%;
			top:5%;
		}
		.about-3-text-container{
			h2{
				.h5_font;
			}
			.p-large{
				.p-small_font;
				line-height: 16px;
			}
		}
		.about-image{
	        &.about-1-image{
				position: relative;
        	}
        }
	}
	.about-sub-footer{
		.subheadline{
			.p-small_font;
		}
		.sub-footer-left, .sub-footer-right {
			height: 330px;
		}

		.sub-footer-left{
			.sub-footer-text-left{
				padding-left: 25px;
				padding-right: 0px;
			}
		}
	}
	.knw-btn{
		.p-xsmall_font;
		line-height: 45px;
	}
// ABOUT US End
}


@media only screen and (max-height : 673px){
	.hero{
		&.hero-turquesa{
			.container-mobile-hidden{
				margin-top: -20%;
			}
		}
		.home-text{
			&.home-7-text{
				 .home-title{
					 width: 350px;
				 }
			}
		}
	}
	.footer{
		.footer-text{
			.footer-title{
				width: unset;
			}
		}
	}
}
@media only screen and (max-height : 646px){
	.footer{
		height: 70vh;
	}
}
@media only screen and (max-height : 574px){
	.hero{
		.container-with-padding{
			.row{
				.home-img{
					&.home-5-img, &.home-7-img{
						height: 350px;
					}
					&.home-6-img{
						height: 280px;
					}
				}
				.home-text{
					&.home-1-text{
						max-width: 300px;
						margin-right: 10px;
					}
					&.home-7-text{
						.home-title{
							width: auto;
							margin-left: 4%;
						}
					}
					&.home-4-text, &.home-5-text, &.home-6-text, &.home-7-text{
						.home-subtitle{
							max-width: 300px;
							margin-right: 10px;
						}
					}
				}
			}
		}
	}
	.footer{
		height: 80vh;
	}
}
@media only screen and (max-height : 420px){
	.hero{
			.container-with-padding{
				padding-bottom: 5%;
			}
			.home-img{
				&.home-3-img, &.home-4-img{
					margin-top: 5%;
				}
			}

		&.hero-green{
			.container-with-padding{
				padding-top: 5% !important;
			}
		}
		&.hero-purple{
			.container-with-padding{
				padding-top: 0 !important;
				padding-bottom: 0;
			}
		}
		&.hero-turquesa-1{
			.container-with-padding{
				padding-top: 0 !important;
			}
		}
		.home-text{
			&.home-7-text{
				.home-title{
					width: 350px;
				}
			}
		}
	}
	.footer{
		height: 90vh;
	}

}
@media only screen and (max-height : 366px){
	.hero{
		.container-with-padding{
			//padding-bottom: 0 !important;
		}
		&.hero-turquesa{
			.container-hidden{
				.row{
					.home-circle-hidden{
						&.circle-4-hidden{
							margin-left: 15%;
						}
					}
				}
			}
		}
		&.hero-light_blue{
			.home-img{
				&.home-3-img{
					height: 400px;
				}
			}
			.container-with-padding{
				padding-bottom: 5%;
			}
		}
		&.hero-dark_blue{
			.container-with-padding{
			//	padding-top: 0 !important;
			}
		}
		&.hero-green{
			.container-with-padding{
				padding-top: 0 !important;
				//padding-bottom: 0 !important;
			}
		}
		&.hero-purple{
			height: 100vh;
			.container-with-padding{
				// padding-top: 2% !important;
				// padding-bottom: 5%;
			}
		}
		&.hero-turquesa-1{
			//height: 100vh !important;
			.container-with-padding{
				padding-top: 0 !important;
			}
		}
		.home-img{
			&.home-3-img{
				height: 300px;
				margin-top: 5% !important;
			}
			&.home-4-img{
				height: 300px;
				margin-top: 0% !important;
			}
			&.home-6-img{
				height: 300px;
			}
			&.home-7-img{
				height: 330px;
			}
		}
		.home-text{
			&.home-1-text{
				margin-top: 0% !important;
			}
			&.home-4-text{
				padding-top: 0% !important;
				margin-top: 0% !important;
				margin-bottom: 0% !important;
			}
			&.home-7-text{
				margin-top: 0% !important;
				.home-title{
					width: 320px;
				}
			}
		}
	}
	.footer{
		height: 100vh;
	}
}

@media screen and (max-height: 326px){
	.hero{
		.container-with-padding{
			padding-bottom: 5% !important;
		}
		.home-img{
			&.home-5-img{
				margin-top: 15%;
			}
		}
		.home-button{
			&.home-large-width-button{
				width: 260px;
			}
		}
		&.hero-turquesa{
			.container-hidden{
				.row{
					.home-circle-hidden{
						&.circle-4-hidden{
							margin-left: 15%;
						}
					}
				}
			}
		}
		&.hero-green{
			.container-with-padding{
				padding-bottom: 5% !important;
			}
		}
		&.hero-purple, &.hero-turquesa-1{
			height: auto !important;
			.container-with-padding{
				padding-bottom: 5% !important;
			}
		}
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
	.hero{
		.container-hidden{
			margin-top: -30%;
			margin-left: 15%;
		}
		.home-img{
			&.home-3-img{
				height: 600px;
			}
			&.home-5-img{
				height: 600px;
			}
			&.home-6-img{
				height: 600px;
			}
		}
		.home-text{
			&.home-1-text{
				margin-top: 20% !important;
			}
			&.home-4-text{
				margin-top: 20% !important;
			}
			&.home-5-text{
				margin-top: 10% !important;
			}
		}
		&.hero-dark_blue, &.hero-green, &.hero-purple{
			.container-with-padding{
				padding-top: 20% !important;
			}
		}
		&.hero-turquesa-1{
			.container-with-padding{
				padding-top: 30% !important;
			}
		}
	}
	.plan{
		h1{
			.h5_font;
		}
		&.plan-2, &.plan-3, &.plan-4, &.plan-5{
			.container{
				.row{
					.mega-big{
						font-size: 100px;
						margin-left: 60%;
						padding-top: 40%;
					}
				}
			}
		}
	}
	.plan-1{
		.plan-1-title{
			h1{
				.h5_font !important;
			}
			.plan-1-subtitle{
				padding-top: 0px;
			}
		}
		.row{
			padding-top: 20%;
		}
		.circle-title{
			margin-top: 18px;
		}
		.circle-text{
			padding-top: 10%;
		}
	}

	.plan-2{
		min-height: 80vh !important;
		.container{
			.row{
				.mega-big{
					font-size: 100px;
				}
				.plan-2-text{
					padding-top: 15%;
					h1{
						.h5_font;
					}
				}
			}
		}
	}
	.plan-3{
		min-height: 70vh !important;
		.container{
			.row{
				.plan-3-text{
					// margin-left: -10%;
					h1{
						.h5_font;
						margin-top: 25%;
					}
				}
			}
		}
	}
	.plan-4{
		min-height: 60vh !important;
		.container{
			.row{
				.mega-big{
					margin-left: 30% !important;
				}
				.plan-4-text{
					h1{
						.h5_font;
						// margin-top: 20%;
						margin-left: -5%;
					}
				}
				.plan-4-text-left{
					margin-left: 10%;
					.p-large{
						width: 350px;
					}
				}
			}
		}
	}
	.plan-5{
		min-height: 60vh !important;
		.container{
			.row{
				.mega-big{
					margin-left: 30% !important;
				}
				.plan-5-text{
					h1{
						.h5_font;
						//margin-left: -65%;
						//margin-top: 30%;
					}
				}
				.plan-5-text-left{
					margin-left: 10%;
					.p-large{
						width: 450px;
					}
				}
			}
		}
	}
	.footer{
		height: 50vh !important;
		.container{
			.footer-text{
				.footer-title{
					h2{
						.h5_font;
					}
				}
			}
		}
	}
}
