// MIXIN FILE

// btns
.knw-round-corners (@radius: 30px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}
// ionicons
.knw-ionicons (@content){
	content: @content;
	font-family: "Ionicons";
	font-size: @p-large;
	display: inline-block;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-rendering: auto;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
// transition
.knw-transition(@speed:0.2s){
	-webkit-transition: all @speed ease-in-out;
	-moz-transition: all @speed ease-in-out;
	-o-transition: all @speed ease-in-out;
	transition: all @speed ease-in-out;
}

// clear
.knw-clear_after{
	content: ".";
	display: block;
	width: auto;
	clear: both;
	visibility: hidden;
}
