.water_abstraction{
	.opp_bg{
		background-image: url(../images/opp_circle/Water_Abstraction.png);
	}
}
.wastewater_treatment{
	.opp_bg{
		background-image: url(../images/opp_circle/Wastewater_Treatment.png);
	}
}
.reuse_water_treatment{
	.opp_bg{
		background-image: url(../images/opp_circle/Reuse_Water_Treatment.png);
	}
}
.wastewater_discharge{
	.opp_bg{
		background-image: url(../images/opp_circle/Wastewater_discharge.png);
	}
}
.drinking_water_treatment{
	.opp_bg{
		background-image: url(../images/opp_circle/Drinking_Water_Treatment.png);
	}
}
.drinking_water_distribution{
	.opp_bg{
		background-image: url(../images/opp_circle/Drinking_Water_Distribution.png);
	}
}
.end_use{
	.opp_bg{
		background-image: url(../images/opp_circle/End_Use.png);
	}
}
.wastewater_collection{
	.opp_bg{
		background-image: url(../images/opp_circle/Wastewater_Collection.png);
	}
}
section.opp_bg{
	text-align: center;
	padding-top: 140px;
	padding-bottom: 140px;
	h2{
		color: @grey;
		font-weight: 600;
	}
	h4{
		font-weight: 300;
		color: @grey;
		margin-bottom: 40px;
	}
}
.opp_center_text{
	position: absolute;
    top: 150px;
	margin: 0 auto;
	max-width: 860px;
	left: 0;
	right: 0;
	display: none;
	z-index: 200;
	h2{
		color: @grey;
	}
	h4{
		color: @grey;
	}
	.button-white-dark{
		margin: 50px auto 0 auto;
		border: 1px solid #fff;
    	color: #fff !important;
	}
}
// layout
.full-height{
	height: 100vh;
	width: 100%;
}
.container_small{
	width: 680px;
	max-width: 680px;
	margin:0 auto;
}
.impacted_sec{
	padding: 100px 0px;
}
.opp_bg{
	background-position: center bottom;
	background-repeat: no-repeat;
	position: relative;
	padding-top: 200px;
	background-size: 48%;
	.prev_step, .next_step{
		position: absolute;
	    top: 40%;
	    z-index: 100;
	    background-repeat: no-repeat;
	    cursor: pointer;
	}
	.prev_step{
		left: 0px;
		&:after{
			content: "\f3cf";
			display: inline-block;
		    font-family: "Ionicons";
		    speak: none;
		    font-size: 70px;
		    color: @grey;
		    font-style: normal;
		    font-weight: normal;
		    font-variant: normal;
		    text-transform: none;
		    text-rendering: auto;
		    line-height: 1;
	    	-webkit-font-smoothing: antialiased;
		}
	}
	.next_step{
		right: 0px;
		&:after{
			right: 0px;
			content: "\f3d1";
			display: inline-block;
		    font-family: "Ionicons";
		    font-size: 70px;
		    speak: none;
		    color: @grey;
		    font-style: normal;
		    font-weight: normal;
		    font-variant: normal;
		    text-transform: none;
		    text-rendering: auto;
		    line-height: 1;
	    	-webkit-font-smoothing: antialiased;
		}
	}
}
.table_impacted{
	border: 1px solid @light_grey;
	margin-bottom: 60px;
	.first_col_imp{
		width: 50%;
		float: left;
		.header{
			background-color: @dark_blue;
			color: @white;
			padding: 10px 25px;
		}
	}
	.second_col_imp{
		width: 50%;
		float: left;
		.header{
			background-color: @light_blue;
			color: @white;
			padding: 10px 25px;
		}
	}
	&:after{
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
	}
}
.img_holder{
	background-image: url(../images/library_back.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 260px;
}

// circle
.opp_full{
	overflow: hidden;
	position: relative;
	.knw-transition;
}
#opp_text{
    position: absolute;
    z-index: 350;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 40%;
}
#Layer_1{
	position: absolute;
	z-index: 400;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 38%;
    .knw-transition;
   // - webkit-filter: grayscale(100%);
   //  filter: grayscale(100%);
    .path_hover{
		cursor: pointer;
	 	- webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    	filter: grayscale(100%);
	}
}

.circle-container {
	.knw-transition;
	position: absolute;
	width: 80em;
	height: 80em;
	border-radius: 50%;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
	padding: 0;
	list-style: none;
	margin: 0 auto;
	-webkit-transform: rotate(274deg);
	transform: rotate(274deg);
	z-index: 103;
	top: 82%;
	left: 0;
	right: 0;
	opacity: 0;
}
.circle-container > * {
	.knw-transition;
	display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10em;
    width: 19em;
    height: 20em;
}
.circle-container > .active_num{
	width: 560px;
	height: auto;
	z-index: 105;
	.opp_center_text{
		opacity: 1;
		display: block;
	}
}
.circle-container > *:nth-of-type(1) {
	-webkit-transform: rotate(0deg) translate(40em) rotate(86deg);
	transform: rotate(0deg) translate(40em) rotate(86deg);
	border: none;
	overflow: visible;
}
.circle-container > *:nth-of-type(2) {
	-webkit-transform: rotate(40deg) translate(40em) rotate(86deg);
	transform: rotate(40deg) translate(40em) rotate(86deg);
	border: none;
	overflow: visible;
}
.circle-container > *:nth-of-type(3) {
	-webkit-transform: rotate(80deg) translate(40em) rotate(86deg);
	transform: rotate(80deg) translate(40em) rotate(86deg);
	border: none;
	overflow: visible;
}
.circle-container > *:nth-of-type(4) {
	-webkit-transform: rotate(120deg) translate(40em) rotate(86deg);
	transform: rotate(120deg) translate(40em) rotate(86deg);
	border: none;
	overflow: visible;
}
.circle-container > *:nth-of-type(5) {
	-webkit-transform: rotate(160deg) translate(40em) rotate(86deg);
	transform: rotate(160deg) translate(40em) rotate(86deg);
	border: none;
	overflow: visible;
}
.circle-container > *:nth-of-type(6) {
	-webkit-transform: rotate(200deg) translate(40em) rotate(86deg);
	transform: rotate(200deg) translate(40em) rotate(86deg);
	border: none;
	overflow: visible;
}
.circle-container > *:nth-of-type(7) {
	-webkit-transform: rotate(240deg) translate(40em) rotate(86deg);
	transform: rotate(240deg) translate(40em) rotate(86deg);
	border: none;
	overflow: visible;
}
.circle-container > *:nth-of-type(8) {
	-webkit-transform: rotate(280deg) translate(40em) rotate(86deg);
	transform: rotate(280deg) translate(40em) rotate(86deg);
	border: none;
	overflow: visible;
}
.circle-container > *:nth-of-type(9) {
	-webkit-transform: rotate(320deg) translate(40em) rotate(86deg);
	transform: rotate(320deg) translate(40em) rotate(86deg);
	border: none;
	overflow: visible;
}
.circle-container img {
	.knw-transition;
	display: block;
	max-width: 100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	border: none;
	-webkit-transition: .15s;
	transition: .15s;
	opacity: 0.7;
}
.circle-container img:hover {
	opacity: 1;
}
.circle-container > .active_num img{
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	opacity: 1;
}
// menu
.opp_full{
	
}
//menu