// library
.knw-noresults{
	text-align: center;
	display: none;
}
//library kraj

//About page
.about-hero{
    height: auto;
    min-height: 100vh;
    width: 100%;

    &.about-hero-back{
        // background: #006f9a; /* Old browsers */
        // background: -moz-linear-gradient(-45deg, #006f9a 0%, #5582b0 50%, #af95c6 100%); /* FF3.6-15 */
        // background: -webkit-linear-gradient(-45deg, #006f9a 0%,#5582b0 50%,#af95c6 100%); /* Chrome10-25,Safari5.1-6 */
        // background: linear-gradient(135deg, #006f9a 0%,#5582b0 50%,#af95c6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006f9a', endColorstr='#af95c6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}
        background-color: @bg_grey;
    }
    .about-hero-container{
        width: 87%;
        position: absolute;
        padding-top: 180px;
        margin-left: 50%;
        transform: translatex(-50%);
        z-index: 1;
        color: @dark_blue;

        .about-hero-title{
            text-align: center;
        }
        .about-hero-subtitle{
            color: @grey;
            text-align: center;
        }
    }

    .about-hero-image{
        width: 100%;
        height: 100%;
        position: absolute;
       &.about-home-image{
            background-image: url('images/about-us/about_us-1.png');
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: 60%;
        }

    }

    #arrow a {
        padding-top: 28px;
    }
    #arrow a span {
        position: absolute;
        top: 0;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        // border-left: 1px solid #fff;
        // border-bottom: 1px solid #fff;
        border-left: 2px solid @dark_blue;
        border-bottom: 2px solid @dark_blue;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: sdb07 2s infinite;
        animation: sdb07 2s infinite;
        opacity: 0;
        box-sizing: border-box;
    }
    #arrow a span:nth-of-type(1) {
        // border-left: 2px solid @dark_blue;
        // border-bottom: 2px solid @dark_blue;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }
    #arrow a span:nth-of-type(2) {
        // border-left: 2px solid @white;
        // border-bottom: 2px solid @white;
        top: 16px;
        -webkit-animation-delay: .15s;
        animation-delay: .15s;
    }
    // #arrow a span:nth-of-type(3) {
    //     top: 32px;
    //     -webkit-animation-delay: .3s;
    //     animation-delay: .3s;
    // }
    @-webkit-keyframes sdb07 {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes sdb07 {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    .scrArrow a {
        position: absolute;
        bottom: 20px;
        left: 50%;
        z-index: 2;
        display: inline-block;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        color: @dark_blue;
        font : normal 400 20px/1 'Josefin Sans', sans-serif;
        letter-spacing: .1em;
        text-decoration: none;
        transition: opacity .3s;
    }
    .scrArrow a:hover {
        opacity: .5;
    }

}

.about{
    height: auto;
    min-height: 100vh;
    width: 100%;

    &.about-1-back{
        /* background-color: @dark_blue;
         background-color: @white;*/
        background-color: @white;
    }
    &.about-2-back{
        /* background-color: @purple;
         background-color: @white;
        */
        background-color: @bg_grey;
        position: relative;
        display: block;
    }
    &.about-3-back{

        .about-3-img{
            margin-top: 8%;
            width: 100%;
            height: 200px;
            background-image: url('images/about-us/partners.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
        }
    }
    .about-image{
        height: 100vh;
        &.about-1-image{

            background-image: url('images/about-us/about_us-2.png') !important;
            background-repeat: no-repeat;
            background-position: bottom left;
            background-size: 60%;
        }

        &.about-2-image{
            background-image: url('images/about-us/about_us-3.png') !important;
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: 50%;
            padding: 11% 0px;
        }
    }
    .about-1-text-container{
        width: 600px;
        height: 300px;
        position: relative;
        padding-top: 6%;
        // color: @white;
        color: @grey;
    }
    .about-2-text-container{
        width: 58%;
        position: relative;
        margin-left: 50%;
        transform: translatex(-50%);
        z-index: 1;
        // color: @white;
        color: @grey;
        text-align: center;
    }
    .about-3-text-container{
        padding-top: 11%;
        left:50%;
        transform: translatex(-50%);
        z-index: 1;
        text-align: center;

        p {
            // margin-left: 50%;
            // transform: translateX(-50%);
            width: 100%;
            color: #4F4F4F;
        }
    }

}

.about-sub-footer{

    .sub-footer-text{
        padding-top: 120px;
    }

    .sub-footer-left{

        background-color: @turquesa !important;
        height: 500px;
        padding-left: 22%;
        .sub-footer-text-left{
            width: 90%;
            // padding-right: 5%;
            padding-bottom: 15%;
            color: #fff;
            text-align: left;
        }
    }
    .sub-footer-right{

        background-color: @dark_blue !important;
        height: 500px;
        padding-right: 22%;
        .sub-footer-text-right{
            // width: 90%;
            padding-left: 5%;
            padding-bottom: 7%;
            color: #fff;
            text-align: left;
        }
    }

    .sub-footer-btn-container{
        text-align: center;
    }

    .sub-footer-btn-container-right{
        text-align: center;
    }

    .knw-btn{
        border: 1px solid @green;
        background-color: @green;
        p{
            display: inline;
        }
        i{
            display: inline;
            opacity: 0;
        }
        &:hover{
            background-color: @white;
            border: 1px solid @white;
            color: @dark_blue;
            i{
                opacity: 1;
                margin-left: 10px;
            }
        }
    }

}
//About page kraj
// Opportunities
.opp_full{
    .menu{
        top: 0px;
    }
    .opp_center_text{
        .home-button{
            margin:0 auto;
        }
    }
}
// end of opportunities
