.plan-1{
    width: 100%;
    min-height: 100vh;
    height: auto;
    // background: #006f9a; /* Old browsers */
    // background: -moz-linear-gradient(-45deg, #006f9a 0%, #1c8eb0 51%, #37acc5 100%);
    // background: -webkit-linear-gradient(-45deg, #006f9a 0%,#1c8eb0 51%,#37acc5 100%);
    // background: linear-gradient(135deg, #006f9a 0%,#1c8eb0 51%,#37acc5 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006f9a', endColorstr='#37acc5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-color: @bg_grey;
  .plan-1-title{
    height: 270px;
    margin: 0 auto;
    padding-top: 180px;
    h2{
     color: @dark_blue;
      text-align: center;
    }
  }

  .plan-1-subtitle{
    padding-top: 160px;
    padding-bottom: 60px;
    color: @grey;
    text-align: center;
}

  .plan-1-circle{
    padding-top: 12%;
    padding-bottom: 3%;
    text-align: center;
    .plan-circles{
      width: 260px;
      height: 260px;
      background-color: @white;
      display: inline-block;
      margin-right: 10px;
      // border: 2px solid @grey;
      border-radius: 100%;
      vertical-align: top;
      box-shadow: 0 7px 22px 0 rgba(72, 72, 90, 0.15);
      .circle-content{
        text-align: center;
        padding-top: 40px;
        .circle-title{

          color: @turquesa;
          h1{
              font-size: 110px;
            }
        }
        .circle-text{
          width: 85%;
          margin: 0 auto;
          padding-top: 7%;
          color: @turquesa;
            p {

              color: @turquesa;
              font-weight: 700;
            }
          }
        }
      }
  .circle-2::after{
      clear: both;
    }
  }
  .container-mobile-hidden{
    display: none;
    padding-bottom: 30px;
  }

  #arrow a {
      // padding-top: 30px;
  }
  #arrow a span {
      position: absolute;
      top: 0;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      // border-left: 1px solid #fff;
      // border-bottom: 1px solid #fff;
      border-left: 2px solid @dark_blue;
      border-bottom: 2px solid @dark_blue;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-animation: sdb07 2s infinite;
      animation: sdb07 2s infinite;
      opacity: 0;
      box-sizing: border-box;
  }
  #arrow a span:nth-of-type(1) {
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
  }
  #arrow a span:nth-of-type(2) {
      top: 16px;
      -webkit-animation-delay: .15s;
      animation-delay: .15s;
  }
  // #arrow a span:nth-of-type(3) {
  //     top: 32px;
  //     -webkit-animation-delay: .3s;
  //     animation-delay: .3s;
  // }
  @-webkit-keyframes sdb07 {
      0% {
          opacity: 0;
      }
      50% {
          opacity: 1;
      }
      100% {
          opacity: 0;
      }
  }
  @keyframes sdb07 {
      0% {
          opacity: 0;
      }
      50% {
          opacity: 1;
      }
      100% {
          opacity: 0;
      }
  }
  .scrArrow a {
      position: absolute;
      bottom: -10px;
      left: 50%;
      z-index: 2;
      display: inline-block;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      color: @dark_blue;
      font : normal 400 20px/1 'Josefin Sans', sans-serif;
      letter-spacing: .1em;
      text-decoration: none;
      transition: opacity .3s;
  }
  .scrArrow a:hover {
      opacity: .5;
  }
}

.plan-2{
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding-top: 3%;
    background-color: @white;
    color: @grey;
    .plan-menu-sidebar{
      margin-left: -15%;
    }
    .plan-2-text{
      h2{
        padding-top: 15%;
        // padding-left: 10px;
      }
    }
    .plan-2-text-left, .plan-2-text-right{
        padding-bottom: 6%;
    }
}
.plan-3{
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding-top: 3%;
    background-color: @bg_grey;
    color: @grey;
    .plan-3-text{
      h2{
        padding-top: 15%;
      }
    }
    .plan-2-text-left, .plan-2-text-right {
        padding-bottom: 6%;
    }
}


.plan-4{
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding-top: 3%;
    background-color: @white;
    background-image: url('images/plan/plan-4.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position-x: 90%;
    background-size: 28%;
    color: @grey;

  .plan-4-text{
      h2{
        padding-top: 15%;
      }
   }
  .plan-4-text-left{
      // padding-left: 9%;
      padding-bottom: 6%;
    }
}

.plan-4-number{
   width: auto;
   height: 500px;
}

.plan-5{
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding-top: 3%;
    background-color: @bg_grey;
    color: @grey;
    .plan-5-text{
     color: @grey;
      h1{
        margin-top: 12%;
      }
    }
    .plan-5-text-left{
        padding-bottom: 6%;
    }
}

.plan-5-img{
    background-image: url('images/plan/background-4.png');
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: bottom right;
}

.plan-menu{
    margin: 0px 0px 0px 0px;
    top: 50%;
    transform: translatey(-50%);
}
