.share-it{
	position: absolute;;
	min-height: 175px;
	width:40px;
	//background:#fff;
	right: -330px;
	z-index:9;
    top: 180px;
}	
.share-it i{
	font-size:16px;
}

	
a.multipage{background:#fff; border:2px #fff solid; color: transparent;} 	
a.multipage:hover{background:#fff; border:2px #fff solid; color: transparent;} 	
	
	
.facebook{
	margin:0 auto;
	float:left; 
	margin-right:4px;
	padding-bottom: 10px;
}
.facebook  a{
	color:#fff;
	padding:10px 17px;
	background-color: transparent;
	display:inline-block;
    transition: 0.5s ease;
	border-radius: 100%;
	border: 1px solid @white;
}
.facebook  a:hover{
	color: @dark_blue;
	padding:10px 17px;
	background-color:#fff;
	display:inline-block;
}

.twitter{
	margin:0 auto; 
	float:left; 
	margin-right:4px;
	padding-bottom: 10px;
}
.twitter  a{
	color:#fff;
	padding:10px 16px;
	background-color: transparent;
	display:inline-block;
	text-align:center;
    transition:0.5s ease;
	border-radius: 100%;
	border: 1px solid @white;
}
.twitter  a:hover{
	color: @dark_blue;
	padding:10px 17px;
	background-color:#fff;
	display:inline-block;
}


.youtube{
	margin:0 auto; 
	float:left; 
	margin-right:4px;
	padding-bottom: 10px;
}
.youtube a{
	color:#fff;
	padding:10px 16px;
	background-color:transparent;
	display:inline-block;
    transition:0.5s ease;
	border-radius: 100%;
	border: 1px solid @white;
}
.youtube a:hover{
	color: @dark_blue;
	padding:10px 17px;
	background-color:#fff;
	display:inline-block;
}


.linkedin{
	margin:0 auto; 
	float:left; 
	margin-right:4px;
	padding-bottom: 10px;
}
.linkedin a{
	color:#fff;
	padding:10px 16px;
	background-color: transparent;
	display:inline-block;
    transition:0.5s ease;
	border-radius: 100%;
	border: 1px solid @white;
}
.linkedin a:hover{
	color: @dark_blue;
	padding:10px 17px;
	background-color:#fff;
	display: inline-block;
}