// COLORS
@dark_blue: #016f9a;
@turquesa: #3BAFC7;
@light_blue: #A1DEFC;
@light_blue_sec: #C3ECFF;
@green: #8DC73F;
@purple: #AF95C6;
@orange: #FAA61A;
@grey: #4F4F4F;
@light_grey: #bbb;
@bg_grey: #f7f7f7;
@white: #fff;
@dark_purple: #06005B;

// END OF COLORS

// font-weights
@bold: 700;
@semi-bold: 600;
@regular: 400;
@light: 300;

// font-size
@h1: 80px;
@h2:50px;
@h3:36px;
@h4:30px;
@h5:24px;
@p:16px;
@sub:26px;
@p-small:16px;
@p-large:18px;
@jumbo-text:500px;
@xtra-small:12px;
@mega-big:300px;
@mobile-nav: 9px;
@icon-nav:20px;
