section{
	height: auto;
	overflow-x: hidden;
	overflow-y: hidden;
}

.decarbonize-box-container{
    &.box-container{
        width: 100%;
        height: inherit;
        background-color: @bg_grey;
    }
    &.box-container-2{
        background-color: @bg_grey;
        color: @dark_blue;
    }

}

.main-container{
		width: 100%;
	  min-height: 100vh;
		height: auto;
		overflow-x: hidden;
		overflow-y: hidden;
    color: @dark_blue;
    background-repeat: no-repeat;
    background-position: center bottom;
    .main-content{
        width: 40%;
        max-height: 140px;
        padding-top: 2%;
        text-align: left;
        color: @grey;
    }
    &.my-container-1{
        background-image: url('images/home/background.png');
        background-size: 50%;
    }
    &.my-container-2{
        background-image: unset;
        width: 1200px;
        height: auto;
        margin: 0 auto;
        padding-top: 55px;
        padding-bottom: 300px;
    }
    &.my-container-3{
        background-image: unset;
        background-color: @purple;
        width: 1200px;
        height: auto;
        margin: 0 auto;
        padding-top: 55px;
        padding-bottom: 300px;
        .item-2{
            h4{
                color: @dark_blue !important;
            }
        }
    }
    &.decarbonize-container{
        background-color: @white;
    }

    #arrow a {
        padding-top: 27px;
    }

    #arrow a span {
        position: absolute;
        top: 0;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        // border-left: 1px solid #fff;
        // border-bottom: 1px solid #fff;
        border-left: 2px solid @dark_blue;
        border-bottom: 2px solid @dark_blue;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: sdb07 2s infinite;
        animation: sdb07 2s infinite;
        opacity: 0;
        box-sizing: border-box;
    }
    #arrow a span:nth-of-type(1) {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }
    #arrow a span:nth-of-type(2) {
        top: 16px;
        -webkit-animation-delay: .15s;
        animation-delay: .15s;
    }
    // #arrow a span:nth-of-type(3) {
    //     top: 32px;
    //     -webkit-animation-delay: .3s;
    //     animation-delay: .3s;
    // }
    @-webkit-keyframes sdb07 {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes sdb07 {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    .scrArrow a {
        position: absolute;
        bottom: 20px;
        left: 50%;
        z-index: 2;
        display: inline-block;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        color: @dark_blue;
        font : normal 400 20px/1 'Josefin Sans', sans-serif;
        letter-spacing: .1em;
        text-decoration: none;
        transition: opacity .3s;
    }
    .scrArrow a:hover {
        opacity: .5;
    }
}

.main-text{
    margin-top: 15%;
    // margin-left: 16%;
    .main-title{
        text-align: left;
    }
}

.decarbonize-img{
	width: 1006px;
	height: 586px;
	margin-top: 235px;
    margin-left: 23%;
    img{
        width: 1006px;
        height: 586px;
    }
}

.main-title-ecam{
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	color: @dark_blue;
}
.isotope-wrap{
	position: relative;
	height: auto;
	&.isotope-wrap-moved{
	   padding-bottom: 10%;
		 margin-left: 5%;
	}
    .item-wrap{
        position: absolute;
        float: left;
        left: 0;
        top: 0;
        width: 23%;
        background-color: @white;
        margin-bottom: 10px;
        .item-content{
            display: none;
            .icons{
                img{
                    width: 60px;
                    height: 60px;
                    padding: 10px;
                }
            }
        }
        .item{
            position: relative;
            width: inherit;
            height: 225px;
            background-color: @white;
            padding: 50px;
						&:hover{
							cursor: pointer;
						}
            &.item-darl_blue{
                h4{
                    color: @dark_blue;
                }
                p {
                    color: @dark_blue;
                }
            }
            h4{
                bottom: 10px;
                left: 20px;
                position: absolute;
                width: 84%;
            }
            .icons-title{
                &.icon-smaller{
                    width: 36px !important;
                }
                img{
                    margin-left: -20px;
                    height: 60px;
                }
            }
        }
        &.item_one{
            left: 0px;
            top: 0px;
            margin-right: 2%;
        }
        &.item_two{
            left: 300px;
            top: 0;
            margin-right: 2%;
        }
        &.item_three{
            left: 600px;
            top: 0;
            margin-right: 2%;
        }
        &.item_four{
            left: 900px;
            top: 0;
            margin-right: 2%;
        }
        &.item_four_1{
            top: 0px !important;
            left: 1220px !important;
            &.row-big{
                top: 286px !important;
                left: 0px !important;
            }
        }
        &.row-big{
            width: auto;
            height: 355px;
						box-shadow: 0 7px 22px 0 rgba(72,72,90,0.15);
            h4 {
                position: unset;
            }
            &.item-content{
                .icon-smaller{
                    img{
                        width: 46px;
                    }
                }
                display: block !important;
            }
            .icons-title{
                img{
                    display: none;
                }
            }
        }
        &.row-small{
            width: 225px;
            height: 225px;
						box-shadow: 0 7px 22px 0 rgba(72,72,90,0.15);
            .item-content{
                display: none !important;
            }
        }
    }
}

@keyframes mymove {
    from {left: 0px;}
    to {right: 10px;}
}
